<section class="clients-wrapper default-margin">
        <h2 class="fw-bold fs-1 title">Наши клиенты</h2>

        <div class="row clients mt-lg-7 mt-md-6 pt-md-0 pt-lg-2 mt-0 d-md-flex d-grid align-items-center">
                <div class="col-lg-2 col-md-4 clients__item p-2">
                        <img fetchpriority="low" loading="lazy" decoding="async" src="./img/clients/01.jpg"
                                alt="client01">
                </div>
                <div class="col-lg-2 col-md-4 clients__item p-2">
                        <img fetchpriority="low" loading="lazy" decoding="async" src="./img/clients/02.jpg"
                                alt="client02">
                </div>
                <div class="col-lg-2 col-md-4 clients__item p-2">
                        <img fetchpriority="low" loading="lazy" decoding="async" src="./img/clients/03.jpg"
                                alt="client03">
                </div>
                <div class="col-lg-2 col-md-4 clients__item p-2">
                        <img fetchpriority="low" loading="lazy" decoding="async" src="./img/clients/04.jpg"
                                alt="client04">
                </div>
                <div class="col-lg-2 col-md-4 clients__item p-2">
                        <img fetchpriority="low" loading="lazy" decoding="async" src="./img/clients/05.jpg"
                                alt="client05">
                </div>
                <div class="col-lg-2 col-md-4 clients__item p-2">
                        <img fetchpriority="low" loading="lazy" decoding="async" src="./img/clients/06.jpg"
                                alt="client06">
                </div>
                <div class="col-lg-2 col-md-4 clients__item p-2">
                        <img fetchpriority="low" loading="lazy" decoding="async" src="./img/clients/07.jpg"
                                alt="client07">
                </div>
                <div class="col-lg-2 col-md-4 clients__item p-2">
                        <img fetchpriority="low" loading="lazy" decoding="async" src="./img/clients/08.jpg"
                                alt="client08">
                </div>
                <div class="col-lg-2 col-md-4 clients__item p-2">
                        <img fetchpriority="low" loading="lazy" decoding="async" src="./img/clients/09.jpg"
                                alt="client09">
                </div>
                <div class="col-lg-2 col-md-4 clients__item p-2">
                        <img fetchpriority="low" loading="lazy" decoding="async" src="./img/clients/10.jpg"
                                alt="client10">
                </div>
                <div class="col-lg-2 col-md-4 clients__item p-2">
                        <img fetchpriority="low" loading="lazy" decoding="async" src="./img/clients/11.jpg"
                                alt="client11">
                </div>
                <div class="col-lg-2 col-md-4 clients__item p-2">
                        <img fetchpriority="low" loading="lazy" decoding="async" src="./img/clients/12.jpg"
                                alt="client12">
                </div>
                <div class="col-lg-2 col-md-4 clients__item p-2">
                        <img fetchpriority="low" loading="lazy" decoding="async" src="./img/clients/13.jpg"
                                alt="client13">
                </div>
                <div class="col-lg-2 col-md-4 clients__item p-2">
                        <img fetchpriority="low" loading="lazy" decoding="async" src="./img/clients/14.jpg"
                                alt="client14">
                </div>
                <div class="col-lg-2 col-md-4 clients__item p-2">
                        <img fetchpriority="low" loading="lazy" decoding="async" src="./img/clients/15.jpg"
                                alt="client15">
                </div>
                <div class="col-lg-2 col-md-4 clients__item p-2">
                        <img fetchpriority="low" loading="lazy" decoding="async" src="./img/clients/16.jpg"
                                alt="client16">
                </div>
                <div class="col-lg-2 col-md-4 clients__item p-2">
                        <img fetchpriority="low" loading="lazy" decoding="async" src="./img/clients/17.jpg"
                                alt="client17">
                </div>
                <div class="col-lg-2 col-md-4 clients__item p-2">
                        <img fetchpriority="low" loading="lazy" decoding="async" src="./img/clients/18.jpg"
                                alt="client18">
                </div>
                <div class="col-lg-2 col-md-4 clients__item p-2">
                        <img fetchpriority="low" loading="lazy" decoding="async" src="./img/clients/19.jpg"
                                alt="client19">
                </div>
                <div class="col-lg-2 col-md-4 clients__item p-2">
                        <img fetchpriority="low" loading="lazy" decoding="async" src="./img/clients/20.jpg"
                                alt="client20">
                </div>
                <div class="col-lg-2 col-md-4 clients__item p-2">
                        <img fetchpriority="low" loading="lazy" decoding="async" src="./img/clients/21.jpg"
                                alt="client21">
                </div>
                <div class="col-lg-2 col-md-4 clients__item p-2">
                        <img fetchpriority="low" loading="lazy" decoding="async" src="./img/clients/22.jpg"
                                alt="client22">
                </div>
                <div class="col-lg-2 col-md-4 clients__item p-2">
                        <img fetchpriority="low" loading="lazy" decoding="async" src="./img/clients/23.jpg"
                                alt="client23">
                </div>
                <div class="col-lg-2 col-md-4 clients__item p-2">
                        <img fetchpriority="low" loading="lazy" decoding="async" src="./img/clients/24.jpg"
                                alt="client24">
                </div>
                <div class="col-lg-2 col-md-4 clients__item p-2">
                        <img fetchpriority="low" loading="lazy" decoding="async" src="./img/clients/25.jpg"
                                alt="client25">
                </div>
                <div class="col-lg-2 col-md-4 clients__item p-2">
                        <img fetchpriority="low" loading="lazy" decoding="async" src="./img/clients/26.jpg"
                                alt="client26">
                </div>
                <div class="col-lg-2 col-md-4 clients__item p-2">
                        <img fetchpriority="low" loading="lazy" decoding="async" src="./img/clients/27.jpg"
                                alt="client27">
                </div>
                <div class="col-lg-2 col-md-4 clients__item p-2">
                        <img fetchpriority="low" loading="lazy" decoding="async" src="./img/clients/28.jpg"
                                alt="client28">
                </div>
        </div>
</section>