<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@@title</title>

  <link rel="preload" href="fonts/OpenSans-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="fonts/OpenSans-SemiBold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="fonts/Raleway-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="fonts/Raleway-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">

  <link as="style" href="css/vendor.css" />
  <link rel="stylesheet" rel="stylesheet" href="css/main.css" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

  <script async src="https://api-maps.yandex.ru/v3/?apikey=7fdba8d1-6add-40a5-bf49-8d010d6de718&lang=ru_RU"></script>
</head>