// scroll snap
@media (max-width: 992px) {
  .xs-x-scroll {
    overflow-x: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    scroll-padding: 0;
  }

  .xs-x-scroll > * {
    margin-bottom: 0 !important;
  }

  .xs-x-scroll > div:last-of-type {
    min-width: 95%;
    scroll-snap-align: start;
    overflow-y: scroll;
    padding: 0;
  }

  .xs-x-scroll > div:not(:last-of-type) {
    min-width: 95%;
    scroll-snap-align: start;
    overflow-y: hidden;
    flex-shrink: inherit;
    margin-right: 0.5rem;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .xs-x-scroll div {
    margin-top: 0rem !important;
  }
}

// base backgrounds and colors

.blue {
  background: var(--bs-primary);
}

.pink {
  background: var(--bs-pink);
}

.c-white {
  color: var(--bs-white) !important;
}

// section styles

.item-main {
  border-radius: 0.5rem;
  min-height: 580px;

  @media (max-width: 992px) {
    min-height: 50vh;
  }

  @media (max-width: 768px) {
    min-height: 100%;
  }

  &__button {
    margin-left: auto;
    text-transform: uppercase;
    pointer-events: none;
    color: inherit;
    border-radius: 0.5rem;

    @media (max-width: 992px) {
      font-size: 1rem !important;
    }
  }

  &__title {
    font-family: var(--bs-raleway);
    color: inherit;

    @media (max-width: 1400px) {
      font-size: 2rem !important;
    }

    @media (max-width: 768px) {
      font-size: 1.3125rem !important;
    }
  }

  &__description {
    @media (max-width: 768px) {
      font-size: 1rem !important;
    }
  }

  &__icon {
    bottom: -3.5rem;
    right: -3.5rem;
    padding: 4.5rem;
    background: var(--transparent-icon);
    box-sizing: content-box;

    & svg {
      width: 128px;
      height: 128px;

      & > use {
        fill: var(--bs-white);
      }
    }

    @media (max-width: 768px) {
      padding: 2.25rem;
      bottom: -1.5rem;
      right: -1.5rem;

      & svg {
        width: 74px;
        height: 74px;
      }
    }
  }
}
