.main-services {
  font-family: "Raleway";
  grid-template-columns: repeat(6, 1fr);
  margin-top: 6rem;

  @media (max-width: 1500px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 992px) {
    margin-top: 3rem;
  }
}

.item-services__title {
  color: var(--bs-dark);
}

.item-services__wrapper {
  background: var(--bs-gray);
  border-radius: 8px;
  text-decoration: none;
  color: inherit;

  & svg {
    width: 80px;
    height: 62px;
    display: block;
    margin: 0 auto;
    flex: 1 1 auto;
  }

  & img {
    width: 85%;
    display: block;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
}

.item-services__description {
  font-size: 19px;
}
