<section class="news-banner">
    <a href="#"
        class="news-banner__wrapper overflow-hidden position-relative d-block rounded-4 mt-lg-6 pt-lg-7 mt-6 p-md-6 p-5">
        <img fetchpriority="low" loading="lazy" decoding="async" src="./img/news/banner.jpg" alt="#"
            class="news-banner__background position-absolute d-none d-lg-block w-100 h-100" />
        <div class="item-news__info d-flex info-news gap-3">
            <div class="info-news__block d-flex align-items-center gap-2">
                <svg class="white svg-calendar">
                    <use href="./img/svg/sprite.svg#calendar"></use>
                </svg>
                <span class="info-news__date c-white">17.07.2024</span>
            </div>
            <div class="info-news__block d-flex align-items-center gap-2">
                <svg class="white svg-eye">
                    <use href="./img/svg/sprite.svg#eye"></use>
                </svg>
                <p class="info-news__date c-white"><span>56</span> тыс.</p>
            </div>
            <div class="info-news__block d-flex align-items-center gap-2">
                <svg class="white svg-clock">
                    <use href="./img/svg/sprite.svg#clock"></use>
                </svg>
                <p class="info-news__date c-white"><span>5</span> минут</p>
            </div>
        </div>
        <h2 class="news-banner__title fw-bold fs-3">IP телефония для удаленной работы бизнеса</h2>
        <p class="news-banner__description fs-4 mt-4">Летние стратегии для улучшения коммуникаций</p>

        <div class="d-flex news-banner__marks mt-4 gap-2">
            <p class="news-banner__mark rounded-3 py-md-2 py-1 px-md-4 px-2">SIP</p>
            <p class="news-banner__mark rounded-3 py-md-2 py-1 px-md-4 px-2">IP-Телефония</p>
        </div>
    </a>
</section>