<section>
  <div class="d-grid gap-4 news mt-md-7 mt-4">
    <article
      class="item-news pb-lg-6 p-4 p-lg-0 rounded-4 d-flex flex-column gap-4"
    >
      <a href="#" class="item-news__image position-relative overflow-hidden">
        <img
          fetchpriority="low"
          loading="lazy"
          decoding="async"
          src="./img/gray-rect.png"
          class="w-100 h-100"
          width="858"
          height="296"
          alt="news"
        />
      </a>
      <div class="item-news__info d-flex info-news mt-lg-5 mt-0 gap-3">
        <div class="info-news__block d-flex align-items-center gap-2">
          <svg class="svg-calendar">
            <use href="./img/svg/sprite.svg#calendar"></use>
          </svg>
          <time class="info-news__date mb-0" datetime="17.07.2024"
            >17.07.2024</time
          >
        </div>
        <div class="info-news__block d-flex align-items-center gap-2">
          <svg class="svg-eye">
            <use href="./img/svg/sprite.svg#eye"></use>
          </svg>
          <p class="info-news__date mb-0"><span>56</span> тыс.</p>
        </div>
        <div class="info-news__block d-flex align-items-center gap-2">
          <svg class="svg-clock">
            <use href="./img/svg/sprite.svg#clock"></use>
          </svg>
          <p class="info-news__date mb-0"><span>5</span> минут</p>
        </div>
      </div>
      <p class="item-news__title fw-bold mt-lg-6 mt-0 mb-lg-4 mb-0 fs-3">
        <a href="#">IP телефония для удаленной работы бизнеса</a>
      </p>
      <p
        class="item-news__description fs-4 flex-fill mt-lg-4 mt-0 mb-lg-4 mb-0"
      >
        Летние стратегии для улучшения коммуникаций
      </p>
      <div class="item-news__marks d-flex gap-3 marks-news mt-lg-4 mt-0">
        <p
          class="marks-news__item text-primary text-decoration-none rounded-3 py-md-2 px-md-4 py-1 px-2 mb-0"
        >
          <a href="#">SIP</a>
        </p>
        <p
          class="marks-news__item text-primary text-decoration-none rounded-3 py-md-2 px-md-4 py-1 px-2 mb-0"
        >
          <a href="#">IP-Телефония</a>
        </p>
      </div>
    </article>
    <article
      class="item-news pb-lg-6 p-4 p-lg-0 rounded-4 d-flex flex-column gap-4"
    >
      <a href="#" class="item-news__image position-relative overflow-hidden">
        <img
          fetchpriority="low"
          loading="lazy"
          decoding="async"
          src="./img/gray-rect.png"
          class="w-100 h-100"
          width="858"
          height="296"
          alt="news"
        />
      </a>
      <div class="item-news__info d-flex info-news mt-lg-5 mt-0 gap-3">
        <div class="info-news__block d-flex align-items-center gap-2">
          <svg class="svg-calendar">
            <use href="./img/svg/sprite.svg#calendar"></use>
          </svg>
          <time class="info-news__date mb-0" datetime="17.07.2024"
            >17.07.2024</time
          >
        </div>
        <div class="info-news__block d-flex align-items-center gap-2">
          <svg class="svg-eye">
            <use href="./img/svg/sprite.svg#eye"></use>
          </svg>
          <p class="info-news__date mb-0"><span>56</span> тыс.</p>
        </div>
        <div class="info-news__block d-flex align-items-center gap-2">
          <svg class="svg-clock">
            <use href="./img/svg/sprite.svg#clock"></use>
          </svg>
          <p class="info-news__date mb-0"><span>5</span> минут</p>
        </div>
      </div>
      <p class="item-news__title fw-bold mt-lg-6 mt-0 mb-lg-4 mb-0 fs-3">
        <a href="#">IP телефония для удаленной работы бизнеса</a>
      </p>
      <p
        class="item-news__description fs-4 flex-fill mt-lg-4 mt-0 mb-lg-4 mb-0"
      >
        Летние стратегии для улучшения коммуникаций
      </p>
      <div class="item-news__marks d-flex gap-3 marks-news mt-lg-4 mt-0">
        <p
          class="marks-news__item text-primary text-decoration-none rounded-3 py-md-2 px-md-4 py-1 px-2 mb-0"
        >
          <a href="#">SIP</a>
        </p>
        <p
          class="marks-news__item text-primary text-decoration-none rounded-3 py-md-2 px-md-4 py-1 px-2 mb-0"
        >
          <a href="#">IP-Телефония</a>
        </p>
      </div>
    </article>
    <article
      class="item-news pb-lg-6 p-4 p-lg-0 rounded-4 d-flex flex-column gap-4"
    >
      <a href="#" class="item-news__image position-relative overflow-hidden">
        <img
          fetchpriority="low"
          loading="lazy"
          decoding="async"
          src="./img/gray-rect.png"
          class="w-100 h-100"
          width="858"
          height="296"
          alt="news"
        />
      </a>
      <div class="item-news__info d-flex info-news mt-lg-5 mt-0 gap-3">
        <div class="info-news__block d-flex align-items-center gap-2">
          <svg class="svg-calendar">
            <use href="./img/svg/sprite.svg#calendar"></use>
          </svg>
          <time class="info-news__date mb-0" datetime="17.07.2024"
            >17.07.2024</time
          >
        </div>
        <div class="info-news__block d-flex align-items-center gap-2">
          <svg class="svg-eye">
            <use href="./img/svg/sprite.svg#eye"></use>
          </svg>
          <p class="info-news__date mb-0"><span>56</span> тыс.</p>
        </div>
        <div class="info-news__block d-flex align-items-center gap-2">
          <svg class="svg-clock">
            <use href="./img/svg/sprite.svg#clock"></use>
          </svg>
          <p class="info-news__date mb-0"><span>5</span> минут</p>
        </div>
      </div>
      <p class="item-news__title fw-bold mt-lg-6 mt-0 mb-lg-4 mb-0 fs-3">
        <a href="#">IP телефония для удаленной работы бизнеса</a>
      </p>
      <p
        class="item-news__description fs-4 flex-fill mt-lg-4 mt-0 mb-lg-4 mb-0"
      >
        Летние стратегии для улучшения коммуникаций
      </p>
      <div class="item-news__marks d-flex gap-3 marks-news mt-lg-4 mt-0">
        <p
          class="marks-news__item text-primary text-decoration-none rounded-3 py-md-2 px-md-4 py-1 px-2 mb-0"
        >
          <a href="#">SIP</a>
        </p>
        <p
          class="marks-news__item text-primary text-decoration-none rounded-3 py-md-2 px-md-4 py-1 px-2 mb-0"
        >
          <a href="#">IP-Телефония</a>
        </p>
      </div>
    </article>
    <article
      class="item-news pb-lg-6 p-4 p-lg-0 rounded-4 d-flex flex-column gap-4"
    >
      <a href="#" class="item-news__image position-relative overflow-hidden">
        <img
          fetchpriority="low"
          loading="lazy"
          decoding="async"
          src="./img/gray-rect.png"
          class="w-100 h-100"
          width="858"
          height="296"
          alt="news"
        />
      </a>
      <div class="item-news__info d-flex info-news mt-lg-5 mt-0 gap-3">
        <div class="info-news__block d-flex align-items-center gap-2">
          <svg class="svg-calendar">
            <use href="./img/svg/sprite.svg#calendar"></use>
          </svg>
          <time class="info-news__date mb-0" datetime="17.07.2024"
            >17.07.2024</time
          >
        </div>
        <div class="info-news__block d-flex align-items-center gap-2">
          <svg class="svg-eye">
            <use href="./img/svg/sprite.svg#eye"></use>
          </svg>
          <p class="info-news__date mb-0"><span>56</span> тыс.</p>
        </div>
        <div class="info-news__block d-flex align-items-center gap-2">
          <svg class="svg-clock">
            <use href="./img/svg/sprite.svg#clock"></use>
          </svg>
          <p class="info-news__date mb-0"><span>5</span> минут</p>
        </div>
      </div>
      <p class="item-news__title fw-bold mt-lg-6 mt-0 mb-lg-4 mb-0 fs-3">
        <a href="#">IP телефония для удаленной работы бизнеса</a>
      </p>
      <p
        class="item-news__description fs-4 flex-fill mt-lg-4 mt-0 mb-lg-4 mb-0"
      >
        Летние стратегии для улучшения коммуникаций
      </p>
      <div class="item-news__marks d-flex gap-3 marks-news mt-lg-4 mt-0">
        <p
          class="marks-news__item text-primary text-decoration-none rounded-3 py-md-2 px-md-4 py-1 px-2 mb-0"
        >
          <a href="#">SIP</a>
        </p>
        <p
          class="marks-news__item text-primary text-decoration-none rounded-3 py-md-2 px-md-4 py-1 px-2 mb-0"
        >
          <a href="#">IP-Телефония</a>
        </p>
      </div>
    </article>
    <article
      class="item-news pb-lg-6 p-4 p-lg-0 rounded-4 d-flex flex-column gap-4"
    >
      <a href="#" class="item-news__image position-relative overflow-hidden">
        <img
          fetchpriority="low"
          loading="lazy"
          decoding="async"
          src="./img/gray-rect.png"
          class="w-100 h-100"
          width="858"
          height="296"
          alt="news"
        />
      </a>
      <div class="item-news__info d-flex info-news mt-lg-5 mt-0 gap-3">
        <div class="info-news__block d-flex align-items-center gap-2">
          <svg class="svg-calendar">
            <use href="./img/svg/sprite.svg#calendar"></use>
          </svg>
          <time class="info-news__date mb-0" datetime="17.07.2024"
            >17.07.2024</time
          >
        </div>
        <div class="info-news__block d-flex align-items-center gap-2">
          <svg class="svg-eye">
            <use href="./img/svg/sprite.svg#eye"></use>
          </svg>
          <p class="info-news__date mb-0"><span>56</span> тыс.</p>
        </div>
        <div class="info-news__block d-flex align-items-center gap-2">
          <svg class="svg-clock">
            <use href="./img/svg/sprite.svg#clock"></use>
          </svg>
          <p class="info-news__date mb-0"><span>5</span> минут</p>
        </div>
      </div>
      <p class="item-news__title fw-bold mt-lg-6 mt-0 mb-lg-4 mb-0 fs-3">
        <a href="#">IP телефония для удаленной работы бизнеса</a>
      </p>
      <p
        class="item-news__description fs-4 flex-fill mt-lg-4 mt-0 mb-lg-4 mb-0"
      >
        Летние стратегии для улучшения коммуникаций
      </p>
      <div class="item-news__marks d-flex gap-3 marks-news mt-lg-4 mt-0">
        <p
          class="marks-news__item text-primary text-decoration-none rounded-3 py-md-2 px-md-4 py-1 px-2 mb-0"
        >
          <a href="#">SIP</a>
        </p>
        <p
          class="marks-news__item text-primary text-decoration-none rounded-3 py-md-2 px-md-4 py-1 px-2 mb-0"
        >
          <a href="#">IP-Телефония</a>
        </p>
      </div>
    </article>
    <article
      class="item-news pb-lg-6 p-4 p-lg-0 rounded-4 d-flex flex-column gap-4"
    >
      <a href="#" class="item-news__image position-relative overflow-hidden">
        <img
          fetchpriority="low"
          loading="lazy"
          decoding="async"
          src="./img/gray-rect.png"
          class="w-100 h-100"
          width="858"
          height="296"
          alt="news"
        />
      </a>
      <div class="item-news__info d-flex info-news mt-lg-5 mt-0 gap-3">
        <div class="info-news__block d-flex align-items-center gap-2">
          <svg class="svg-calendar">
            <use href="./img/svg/sprite.svg#calendar"></use>
          </svg>
          <time class="info-news__date mb-0" datetime="17.07.2024"
            >17.07.2024</time
          >
        </div>
        <div class="info-news__block d-flex align-items-center gap-2">
          <svg class="svg-eye">
            <use href="./img/svg/sprite.svg#eye"></use>
          </svg>
          <p class="info-news__date mb-0"><span>56</span> тыс.</p>
        </div>
        <div class="info-news__block d-flex align-items-center gap-2">
          <svg class="svg-clock">
            <use href="./img/svg/sprite.svg#clock"></use>
          </svg>
          <p class="info-news__date mb-0"><span>5</span> минут</p>
        </div>
      </div>
      <p class="item-news__title fw-bold mt-lg-6 mt-0 mb-lg-4 mb-0 fs-3">
        <a href="#">IP телефония для удаленной работы бизнеса</a>
      </p>
      <p
        class="item-news__description fs-4 flex-fill mt-lg-4 mt-0 mb-lg-4 mb-0"
      >
        Летние стратегии для улучшения коммуникаций
      </p>
      <div class="item-news__marks d-flex gap-3 marks-news mt-lg-4 mt-0">
        <p
          class="marks-news__item text-primary text-decoration-none rounded-3 py-md-2 px-md-4 py-1 px-2 mb-0"
        >
          <a href="#">SIP</a>
        </p>
        <p
          class="marks-news__item text-primary text-decoration-none rounded-3 py-md-2 px-md-4 py-1 px-2 mb-0"
        >
          <a href="#">IP-Телефония</a>
        </p>
      </div>
    </article>
  </div>
  <div class="pagination gap-4 justify-content-center d-flex flex-wrap">
    <a
      href="#"
      class="pagination-item rounded-2 text-center py-3 px-4 d-flex align-items-center active"
      ><span>1</span></a
    >
    <a
      href="#"
      class="pagination-item rounded-2 text-center py-3 px-4 d-flex align-items-center"
      ><span>2</span></a
    >
    <a
      href="#"
      class="pagination-item rounded-2 text-center py-3 px-4 d-flex align-items-center"
      ><span>3</span></a
    >
    <a
      href="#"
      class="pagination-item rounded-2 text-center py-3 px-4 d-flex align-items-center"
      ><span>4</span></a
    >
    <a
      href="#"
      class="pagination-item rounded-2 text-center py-3 px-4 d-flex align-items-center"
      ><span>5</span></a
    >
    <a
      href="#"
      class="pagination-item rounded-2 text-center py-3 px-4 d-flex align-items-center"
      ><span>6</span></a
    >
    <a
      href="#"
      class="pagination-item rounded-2 text-center py-3 px-4 d-flex align-items-center"
      ><span>7</span></a
    >
    <a
      href="#"
      class="pagination-item rounded-2 text-center py-3 px-4 d-flex align-items-center"
      ><span>8</span></a
    >
    <a
      href="#"
      class="pagination-item rounded-2 text-center py-3 px-4 d-flex align-items-center"
      ><span>9</span></a
    >
    <a
      href="#"
      class="pagination-item rounded-2 text-center py-3 px-4 d-flex align-items-center"
      ><span>10</span></a
    >
    <a
      href="#"
      class="pagination-item rounded-2 text-center py-3 px-4 d-flex align-items-center"
      ><span>11</span></a
    >
    <a
      href="#"
      class="pagination-item rounded-2 text-center py-3 px-4 d-flex align-items-center"
      ><span>12</span></a
    >
    <a
      href="#"
      class="pagination-item rounded-2 text-center py-3 px-4 d-flex align-items-center"
      ><span>13</span></a
    >
    <a
      href="#"
      class="pagination-item rounded-2 text-center py-3 px-4 d-flex align-items-center"
      ><span>14</span></a
    >
    <a
      href="#"
      class="pagination-item rounded-2 text-center py-3 px-4 d-flex align-items-center"
    >
      <span class="pagination-extra">34</span>
      <svg class="pagination-item__svg">
        <use xlink:href="./img/svg/sprite.svg#arrow-pagination"></use>
      </svg>
    </a>
  </div>
</section>
