<section class="search-news default-margin">
    <h2 class="title search-news__title fw-bold fs-1">Новости</h2>
    <p class="search-news__post-title fs-3 post-title mt-lg-7 pt-lg-7 pt-0 mt-6">Читайте свежие новости
        из мира IT,
        облачных технологий и
        интернета!
    </p>

    <div class="search-news__wrapper mt-lg-7 mt-md-6">
        <form action="#" class="d-grid search-news__search-input gap-md-6 gap-4 mt-md-0 mt-6">
            <label for="mainSearch"
                class="search-input__wrapper d-flex align-items-center w-100 map-address__input search-news__input position-relative p-4 rounded-4">
                <svg class="d-block me-4 ms-2">
                    <use xlink:href="./img/svg/sprite.svg#search_icon"></use>
                </svg>
                <input type="text" id="mainSearch" class="search-input flex-fill" placeholder="Поиск по сайту">
            </label>
            <button class="btn btn-primary search-news__button w-100 rounded-4" type="submit">Искать в
                новостях</button>
        </form>
        <div class="d-grid search-news__categories gap-md-4 gap-3 mt-6">
            <p class="item-uslugi__title px-lg-4 py-lg-4 py-2 px-2 gap-2 d-flex align-items-center">
                <svg class="dropdown-menu__icon news connection">
                    <use href="./img/svg/sprite.svg#menu_connection"></use>
                </svg>
                <span>Стабильное и безопасное соединение</span>
            </p>
            <p class="item-uslugi__title px-lg-4 py-lg-4 py-2 px-2 gap-2 d-flex align-items-center">
                <svg class="dropdown-menu__icon news development">
                    <use href="./img/svg/sprite.svg#menu_development"></use>
                </svg>
                <span>Строительство IT-инфраструктуры</span>
            </p>
            <p class="item-uslugi__title px-lg-4 py-lg-4 py-2 px-2 gap-2 d-flex align-items-center">
                <svg class="dropdown-menu__icon news safety">
                    <use href="./img/svg/sprite.svg#menu_safety"></use>
                </svg>
                <span>Безопасность имущества и данных</span>
            </p>
            <p class="item-uslugi__title px-lg-4 py-lg-4 py-2 px-2 gap-2 d-flex align-items-center">
                <svg class="dropdown-menu__icon news telephone">
                    <use href="./img/svg/sprite.svg#menu_telephone"></use>
                </svg>
                <span>Телефонная связь</span>
            </p>
            <p class="item-uslugi__title px-lg-4 py-lg-4 py-2 px-2 gap-2 d-flex align-items-center">
                <svg class="dropdown-menu__icon news solution">
                    <use href="./img/svg/sprite.svg#menu_solution"></use>
                </svg>
                <span>Отраслевые решения</span>
            </p>
        </div>
    </div>
</section>