<section class="d-none banner-instruction d-lg-grid mt-md-7 mt-4">

    <div class="banner position-relative rounded-4 overflow-hidden c-white">
        <div class="banner__background position-absolute h-100 w-100">
            <picture>
                <source srcset="./img/usluga/background_mobile.jpg" media="(max-width: 768px)">
                <img src="./img/usluga/background_pc.jpg" alt="задний фон" fetchpriority="low" loading="lazy"
                    decoding="async" class="h-100 w-100">
            </picture>
        </div>

        <h2 class="banner__title fw-bold mb-0 c-white fs-1">Переходи на 1Гбит/с</h2>
        <p class="banner__description fs-4 c-white pt-4 p-0 mb-7 pb-3">
            До конца августа 2024 года действует субсидируемый переход на бизнес-интеренет со скорость 1 Гбит/с
        </p>
        <div class="banner__btns d-flex gap-4 mt-5 pb-1">
            <button class="banner__btn rounded-4 py-2 px-4 c-white">Оставить заявку</button>
            <button class="banner__btn py-2 px-4 rounded-4 c-white">Подробнее</button>
        </div>
    </div>
</section>