.calculator {
  p {
    margin-bottom: 0;
    font-family: var(--bs-open-sans);

    @media (max-width: 992px) {
      font-size: 1rem;
    }
  }
}

.services-internet {
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;

  @media (min-width: 768px) {
    border-bottom: 1px solid var(--gray-background);
  }

  @media (max-width: 1200px) and (min-width: 992px) {
    grid-template-columns: 1fr;
    gap: 1rem !important;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  &__item {
    background: var(--bs-gray);
    min-height: 125px;

    @media (max-width: 992px) {
      min-height: 0;
    }

    &.extra {
      background: var(--transparent-pink-light);
      border: 2px solid var(--bs-pink);
      color: var(--bright-pink-color);

      @media (max-width: 768px) {
        background: var(--bs-gray);
        border: none;
        color: var(--bs-dark);
        min-height: 0;

        & > div {
          margin-top: 0;
        }
      }
    }
  }
}

.calc-internet__cards {
  grid-template-columns: 1fr 1fr 1fr 1fr;

  &.add-scroll {
    @media (max-width: 1700px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 992px) {
      scroll-padding: 0;

      & > * {
        min-width: 48% !important;
        padding: 1rem !important;
      }

      & > *:not(:last-child) {
        margin-right: 1%;
      }

      & > div {
        max-height: none;
      }
    }

    @media (max-width: 550px) {
      & > * {
        min-width: 90% !important;
      }
    }
  }
}

.internet-card {
  @media (max-width: 768px) {
    background-image: url("../img/usluga/background_mobile.jpg");
  }

  @media (min-width: 768px) {
    background-image: url("../img/usluga/background_pc.jpg");
  }

  background-size: 68% 100%;
  background-attachment: fixed;
  background-clip: padding-box;
  font-variant-numeric: lining-nums;

  @media (max-width: 992px) {
    background-size: 100% 100%;
  }

  &__desc {
    font-size: 1.3125rem;
    hyphens: auto;

    &:not(:first-child) {
      margin-top: 1rem;
    }

    @media (max-width: 768px) {
      &:not(:first-child) {
        margin-top: 0.5rem;
      }
    }
  }

  &__price {
    font-family: var(--bs-raleway);
    line-height: 1.4;

    @media (max-width: 768px) {
      font-size: 1.3125rem !important;
    }
  }

  &__post-price {
    font-size: 1.3125rem;
  }
}

.item-internet {
  &__wrapper {
    margin-top: 1.25rem;
  }

  &__price {
    font-weight: 600;
    color: var(--dark-gray);
    white-space: nowrap;
    background: var(--bs-white);
  }

  &__text {
    font-weight: 600;

    &.c-pink {
      @media (max-width: 992px) {
        color: var(--dark-gray);
      }
    }

    &.normal {
      font-weight: 400;
    }
  }
}

.item-internet__select:before {
  content: "";
  display: block;
  right: 0;
  top: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 50%
  );
  width: 50px;
  height: 100%;
  z-index: 1;
  position: absolute;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  pointer-events: none;
}

.item-internet__select:after {
  content: "";
  display: block;
  right: 0.5rem;
  top: 43%;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTS4zMTQuMzM3YTEuMDIgMS4wMiAwIDAxMS41MTUgMEw1IDMuNzQ0IDguMTcxLjMzN2ExLjAyIDEuMDIgMCAwMTEuNTE1IDBjLjQxOS40NS40MTkgMS4xNzkgMCAxLjYyOEw1IDcgLjMxNCAxLjk2NWExLjIxMyAxLjIxMyAwIDAxMC0xLjYyOHoiIGZpbGw9IiMwMDAzMUEiLz48L3N2Zz4=);
  width: 10px;
  height: 7px;
  z-index: 2;
  position: absolute;
  pointer-events: none;
}

.item-internet__select select {
  border: none;
  outline: none;
  color: var(--dark-gray);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: var(--bs-white);
}

.notifies-calc {
  grid-template-columns: 1fr 1fr;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.results {
  background: var(--bs-white);
  height: fit-content;
  box-shadow: 0px 4px 20px var(--bs-gray);

  &-wrapper {
    border-bottom: 1px solid var(--gray-background);
  }

  &__btn {
    font-weight: 600;
  }
}

.results-checkbox {
  background: var(--transparent-pink-light);

  @media (max-width: 768px) {
    background: var(--bs-gray);
  }
}

.results-checkbox__text {
  font-weight: 600;

  @media (max-width: 768px) {
    color: var(--bs-primary) !important;
  }
}

.results__item {
  font-weight: 600;
  color: var(--dark-gray);

  &:not(:first-child) {
    margin-top: 1.3rem;
  }
}

.hidden-title {
  font-size: 1.3125rem !important;
}

.item-results {
  &__desc {
    font-weight: 600;
    color: var(--dark-gray);
  }

  &__price {
    white-space: nowrap;
    padding-left: 0.5rem;
  }
}

.results__monthly,
.results__once {
  font-weight: 600;
}

.c-pink {
  color: var(--bright-pink-color);
}

.results-block {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--bs-white);
  min-width: 328px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px -4px 40px var(--bs-gray);
  z-index: 10000;
  transition: all 0.3s ease;
  opacity: 1;
  visibility: visible;

  @media (max-width: 350px) {
    min-width: 90%;
  }
}

.notify {
  padding: 10px;
  color: var(--bs-primary);
  background: var(--bs-gray);
  border: 1px solid var(--bs-primary);
}

.success {
  background: var(--light-green);
  border: 1px solid var(--dark-green);
  border-radius: 0.5rem;

  & p {
    color: var(--green);
    font-weight: 600;
  }

  & svg {
    width: 27px;
    height: 27px;
    flex: 0 0 27px;
  }

  & use {
    fill: var(--green);
  }
}

.warning {
  background: var(--light-yellow);
  border: 1px solid var(--dark-yellow);
  border-radius: 0.5rem;

  & p {
    color: var(--yellow);
    font-weight: 600;
  }

  & svg {
    width: 27px;
    height: 27px;
    flex: 0 0 27px;
  }

  & use {
    fill: var(--yellow);
  }
}

.error {
  background: var(--light-red);
  border: 1px solid var(--dark-red);
  border-radius: 6px;

  & p {
    color: var(--red);
    font-weight: 600;
  }

  & svg {
    width: 27px;
    height: 27px;
    flex: 0 0 27px;
  }

  & use {
    fill: var(--red);
  }
}

.notification-info {
  background: var(--light-info);
  border: 1px solid var(--dark-info);
  border-radius: 6px;

  & p {
    color: var(--bs-primary);
    font-weight: 600;
  }

  & svg {
    width: 27px;
    height: 27px;
    flex: 0 0 27px;
  }

  & use {
    fill: var(--bs-primary);
  }
}
