//
// Base styles
//

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: $accordion-button-padding-y $accordion-button-padding-x;
  @include font-size($font-size-base);
  color: $accordion-button-color;
  text-align: left; // Reset button style
  background-color: $accordion-button-bg;
  border: 0;
  @include border-radius(0);
  overflow-anchor: none;
  @include transition($accordion-transition);

  &:not(.collapsed) {
    color: $accordion-button-active-color;
    background-color: $accordion-button-active-bg;
    box-shadow: inset 0 ($accordion-border-width * -1) 0 $accordion-border-color;

    &::after {
      background-image: escape-svg($accordion-button-active-icon);
      transform: $accordion-icon-transform;
    }
  }

  // Accordion icon
  &::after {
    flex-shrink: 0;
    width: $accordion-icon-width;
    height: $accordion-icon-height;
    margin-left: auto;
    content: "";
    background-image: escape-svg($accordion-button-icon);
    background-repeat: no-repeat;
    background-size: $accordion-icon-width;
    @include transition($accordion-icon-transition);
  }

  &:hover {
    z-index: 2;
  }

  &:focus {
    z-index: 3;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
  }
}

.accordion-header {
  margin-bottom: 0;
}

.accordion-item {
  background-color: $accordion-bg;
  border: $accordion-border-width solid $accordion-border-color;

  .accordion-button {
    @include border-top-radius($accordion-inner-border-radius);
    @include border-bottom-radius($accordion-inner-border-radius);
  }

  &:not(:first-of-type) {
    border-top: 0;
  }

  // Only set a border-radius on the last item if the accordion is collapsed
  &:last-of-type {
    @include border-bottom-radius($accordion-border-radius);

    .accordion-button {
      &.collapsed {
        @include border-bottom-radius($accordion-inner-border-radius);
      }
    }

    .accordion-collapse {
      @include border-bottom-radius($accordion-border-radius);
    }
  }
}

.accordion-body {
  padding: $accordion-body-padding-y $accordion-body-padding-x;
}

// Flush accordion items
//
// Remove borders and border-radius to keep accordion items edge-to-edge.

.accordion-flush {
  .accordion-collapse {
    border-width: 0;
  }

  .accordion-item {
    border-right: 0;
    border-left: 0;
    @include border-radius(0);

    &:first-child {
      border-top: 0;
    }
    &:last-child {
      border-bottom: 0;
    }

    .accordion-button {
      @include border-radius(0);
    }
  }
}

// other tabs
.accordion-service-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: $accordion-button-padding-y $accordion-button-padding-x;
  @include font-size(1.3125rem);
  color: $dark;
  text-align: left; // Reset button style
  background-color: $white;
  border: 0;
  @include border-radius(0);
  overflow-anchor: none;
  @include transition($accordion-transition);

  &:not(.collapsed) {
    color: $dark;
    background-color: $white;
    box-shadow: inset 0 ($accordion-border-width * -1) 0 $accordion-border-color;

    span {
      padding: 1.875rem 0.75rem;
      background-color: rgba(77, 94, 255, 0.4);
      border-radius: 0.375rem;

      @media (max-width: 768px) {
        padding: 0.9rem 6px;
      }

      &::after {
        width: $accordion-service-icon-width;
        height: $accordion-service-icon-height;
        background-image: escape-svg($accordion-service-button-active-icon);
        transform: $accordion-icon-transform;

        @media (max-width: 768px) {
          width: 19px;
        }
      }
    }
  }

  // Accordion icon
  span {
    flex-shrink: 0;
    padding: 0.75rem;
    background-color: var(--bs-gray);
    border-radius: 0.5rem;

    @media (max-width: 768px) {
      font-size: 0.75rem;
      padding: 6px;
      display: block;
      margin-left: 1rem;
    }

    &:after {
      content: "";
      width: $accordion-service-icon-width-active;
      height: $accordion-service-icon-height-active;
      display: block;
      margin-left: auto;
      background-image: escape-svg($accordion-service-button-icon);
      background-repeat: no-repeat;
      background-position: center;
      background-size: $accordion-service-icon-width;
      @include transition($accordion-service-icon-transition);

      @media (max-width: 768px) {
        width: 19px;
        height: 19px;
      }
    }
  }

  &:hover {
    z-index: 2;
  }

  &:focus {
    z-index: 3;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
  }

  @media (max-width: 768px) {
    font-size: 1rem !important;
  }
}

.accordion-service-header {
  margin-bottom: 0;
}

.accordion-service-item {
  background-color: $white;
  border: $accordion-service-border-width solid $accordion-service-border-color;
  border-radius: $accordion-border-radius;

  .accordion-service-button {
    @include border-top-radius($accordion-inner-border-radius);
    @include border-bottom-radius($accordion-inner-border-radius);
  }

  // Only set a border-radius on the last item if the accordion is collapsed
  &:last-of-type {
    @include border-bottom-radius($accordion-border-radius);

    .accordion-service-button {
      &.collapsed {
        @include border-bottom-radius($accordion-inner-border-radius);
      }
    }

    .accordion-service-collapse {
      @include border-bottom-radius($accordion-border-radius);
    }
  }
}

.accordion-service-body {
  padding: $accordion-body-padding-y $accordion-body-padding-x;
  background-color: var(--bs-gray);

  p {
    font-size: 1.3125rem;
    line-height: 1.2;

    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }
}
