<section class="about default-margin">
    <h2 class="fw-bold fs-1 title">О нас</h2>

    <div class="d-grid gap-4 about_us mt-lg-7 pt-lg-7 pt-0 mt-md-4 fs-3">
        <div class="about_us__item bold fw-bold rounded-4 p-md-6 p-3">TELEZON — первый облачный центр связи для
            современного
            бизнеса</div>
        <div class="about_us__item rounded-4 p-md-6 p-3">
            <p class="fs-4">Мы — провайдер полного цикла, решающий весь спектр задач под ключ.</p>
            <p class="fs-4 mt-md-6 mt-4">
                Наша компания является признанным экспертом в области корпоративных телекоммуникаций. 20 лет мы
                предоставляем полный спектр
                телекоммуникационных услуг. Наши клиенты — это не только государственные компании, лидеры отраслей, но и
                малые предприятия!
            </p>
            <p class="fs-4 mt-md-6 mt-4">
                Высокоскоростной доступ в интернет, корпоративные коммуникации, облачное хранение, мониторинг данных,
                системы
                видеонаблюдения, пожарные системы и интеграторские услуги для юридических лиц по всей России!
            </p>
            <p class="fs-4 mt-md-6 mt-4">
                Для нашей компании каждый клиент уникален, как следствие, у нас нет «традиционно-провайдерского»
                отношения. Мы знаем нашего
                клиента, радуемся его успехам и стремимся поддерживать его бизнес, обеспечивая его необходимыми
                услугами! Да, это непросто,
                но мы знаем — так правильно!
            </p>
        </div>
        <div class="about_us__item overflow-hidden rounded-4">
            <img src="./img/about_us.jpg" alt="About us" />
        </div>
    </div>
</section>