<section class="clients-wrapper default-margin">
    <h2 class="fw-bold fs-1 title">Наши клиенты</h2>

    <div class="row clients mt-lg-7 mt-md-6 pt-md-0 pt-lg-2 mt-0 d-md-flex d-grid align-items-center">
        <div class="col-lg-2 col-md-4 clients__item p-2"><img src="./img/clients/01.jpg" alt="Client 01"
                class="w-100" />
        </div>
        <div class="col-lg-2 col-md-4 clients__item p-2"><img src="./img/clients/02.jpg" alt="Client 02"
                class="w-100" />
        </div>
        <div class="col-lg-2 col-md-4 clients__item p-2"><img src="./img/clients/03.jpg" alt="Client 03"
                class="w-100" />
        </div>
        <div class="col-lg-2 col-md-4 clients__item p-2"><img src="./img/clients/04.jpg" alt="Client 04"
                class="w-100" />
        </div>
        <div class="col-lg-2 col-md-4 clients__item p-2"><img src="./img/clients/05.jpg" alt="Client 05"
                class="w-100" />
        </div>
        <div class="col-lg-2 col-md-4 clients__item p-2"><img src="./img/clients/06.jpg" alt="Client 06"
                class="w-100" />
        </div>
        <div class="col-lg-2 col-md-4 clients__item p-2"><img src="./img/clients/07.jpg" alt="Client 07"
                class="w-100" />
        </div>
        <div class="col-lg-2 col-md-4 clients__item p-2"><img src="./img/clients/08.jpg" alt="Client 08"
                class="w-100" />
        </div>
        <div class="col-lg-2 col-md-4 clients__item p-2"><img src="./img/clients/09.jpg" alt="Client 09"
                class="w-100" />
        </div>
        <div class="col-lg-2 col-md-4 clients__item p-2"><img src="./img/clients/10.jpg" alt="Client 10"
                class="w-100" />
        </div>
        <div class="col-lg-2 col-md-4 clients__item p-2"><img src="./img/clients/11.jpg" alt="Client 11"
                class="w-100" />
        </div>
        <div class="col-lg-2 col-md-4 clients__item p-2"><img src="./img/clients/12.jpg" alt="Client 12"
                class="w-100" />
        </div>
        <div class="col-lg-2 col-md-4 clients__item p-2"><img src="./img/clients/13.jpg" alt="Client 13"
                class="w-100" />
        </div>
        <div class="col-lg-2 col-md-4 clients__item p-2"><img src="./img/clients/14.jpg" alt="Client 14"
                class="w-100" />
        </div>
        <div class="col-lg-2 col-md-4 clients__item p-2"><img src="./img/clients/15.jpg" alt="Client 15"
                class="w-100" />
        </div>
        <div class="col-lg-2 col-md-4 clients__item p-2"><img src="./img/clients/16.jpg" alt="Client 16"
                class="w-100" />
        </div>
        <div class="col-lg-2 col-md-4 clients__item p-2"><img src="./img/clients/17.jpg" alt="Client 17"
                class="w-100" />
        </div>
        <div class="col-lg-2 col-md-4 clients__item p-2"><img src="./img/clients/18.jpg" alt="Client 18"
                class="w-100" />
        </div>
        <div class="col-lg-2 col-md-4 clients__item p-2"><img src="./img/clients/19.jpg" alt="Client 19"
                class="w-100" />
        </div>
        <div class="col-lg-2 col-md-4 clients__item p-2"><img src="./img/clients/20.jpg" alt="Client 20"
                class="w-100" />
        </div>
        <div class="col-lg-2 col-md-4 clients__item p-2"><img src="./img/clients/21.jpg" alt="Client 21"
                class="w-100" />
        </div>
        <div class="col-lg-2 col-md-4 clients__item p-2"><img src="./img/clients/22.jpg" alt="Client 22"
                class="w-100" />
        </div>
        <div class="col-lg-2 col-md-4 clients__item p-2"><img src="./img/clients/23.jpg" alt="Client 23"
                class="w-100" />
        </div>
        <div class="col-lg-2 col-md-4 clients__item p-2"><img src="./img/clients/24.jpg" alt="Client 24"
                class="w-100" />
        </div>
        <div class="col-lg-2 col-md-4 clients__item p-2"><img src="./img/clients/25.jpg" alt="Client 25"
                class="w-100" />
        </div>
        <div class="col-lg-2 col-md-4 clients__item p-2"><img src="./img/clients/26.jpg" alt="Client 26"
                class="w-100" />
        </div>
        <div class="col-lg-2 col-md-4 clients__item p-2"><img src="./img/clients/27.jpg" alt="Client 27"
                class="w-100" />
        </div>
        <div class="col-lg-2 col-md-4 clients__item p-2"><img src="./img/clients/28.jpg" alt="Client 28"
                class="w-100" />
        </div>
    </div>
</section>