<section class="numbers-wrapper d-block default-margin">
    <h2 class="fw-bold fs-1 title">Мы в цифрах</h2>

    <div class="d-grid numbers rounded-4 gap-1">
        <div class="text-center d-flex flex-column numbers__item">
            <span class="item-numbers__number text-primary fw-bold">24976</span>
            <span class="item-numbers__text mt-3">абонентов среди корпораций, ежедневно работающих с Telezon</span>
        </div>
        <div class="text-center d-flex flex-column numbers__item">
            <span class="item-numbers__number text-primary fw-bold">50</span>
            <span class="item-numbers__text mt-3">видов услуг в сфере интернета, телефонии и безопастности</span>
        </div>
        <div class="text-center d-flex flex-column numbers__item">
            <span class="item-numbers__number text-primary fw-bold">100</span>
            <span class="item-numbers__text mt-3">гб/сек скорость передачи данных в сети</span>
        </div>
        <div class="text-center d-flex flex-column numbers__item">
            <span class="item-numbers__number text-primary fw-bold">22</span>
            <span class="item-numbers__text mt-3">города географии работы Telezon</span>
        </div>
    </div>
</section>