<section class="services mb-5 d-none d-md-block default-margin">
    <div class="container">
        <h1 class="fs-1 fw-bold title">Услуги Telezon</h1>
        <div class="d-grid gap-5 main-services">
            <div class="mb-3 services__item item-services p-0">
                <a href="#" class="item-services__wrapper p-5 h-100 d-block">
                    <p class="item-services__title fs-4 fw-bold d-flex flex-column mb-3 pe-2">Бизнес интернет</p>
                    <img src="./img/wifi.png" alt="#" />
                </a>
            </div>
            <div class="mb-3 services__item item-services p-0">
                <a href="#" class="item-services__wrapper p-5 h-100 d-block">
                    <p class="item-services__title fs-4 fw-bold d-flex flex-column mb-3 pe-2">Бизнес интернет</p>
                    <img src="./img/ula.png" alt="#" />
                </a>
            </div>
            <div class="mb-3 services__item item-services p-0">
                <a href="#" class="item-services__wrapper p-5 h-100 d-block">
                    <p class="item-services__title fs-4 fw-bold d-flex flex-column mb-3 pe-2">Бизнес интернет</p>
                    <img src="./img/internet.png" alt="#" />
                </a>
            </div>
            <div class="mb-3 services__item item-services p-0">
                <a href="#" class="item-services__wrapper p-5 h-100 d-block ">
                    <p class="item-services__title fs-4 fw-bold d-flex flex-column mb-3 pe-2">Бизнес интернет</p>
                    <img src="./img/defence.png" alt="#" />
                </a>
            </div>
            <div class="mb-3 services__item item-services p-0">
                <a href="#" class="item-services__wrapper p-5 h-100 d-block ">
                    <p class="item-services__title fs-4 fw-bold d-flex flex-column mb-3 pe-2">Бизнес интернет</p>
                    <img src="./img/lego.png" alt="#" />
                </a>
            </div>
            <div class="mb-3 services__item item-services p-0">
                <a href="#" class="item-services__wrapper p-5 h-100 d-block h-100 d-flex flex-column">
                    <p class="d-flex flex-column item-services__title fs-4 fw-bold mb-3">Бизнес интернет</p>
                    <svg>
                        <use href="./img/svg/sprite.svg#arrow"></use>
                    </svg>
                    <p class="item-services__description mt-5">Посмотреть весь список услуг Telezon</p>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="services-mobile mb-6 d-xs-block d-md-none my-5">
    <h1 class="title fs-1 fw-bold">Услуги</h1>
    <div class="accordion simple" id="accordionSimple">
        <div class="accordion-item mb-4">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Accordion Item #1
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionSimple">
                <div class="accordion-body">
                    <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse
                    plugin adds the appropriate classes that we use to style each element. These classes control the
                    overall
                    appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                    custom CSS or overriding our default variables. It's also worth noting that just about any HTML can
                    go
                    within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
            </div>
        </div>
        <div class="accordion-item mb-4">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Accordion Item #2
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionSimple">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong> It is hidden by default, until the
                    collapse
                    plugin adds the appropriate classes that we use to style each element. These classes control the
                    overall
                    appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                    custom CSS or overriding our default variables. It's also worth noting that just about any HTML can
                    go
                    within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
            </div>
        </div>
        <div class="accordion-item mb-4">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Accordion Item #3
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionSimple">
                <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                    collapse
                    plugin adds the appropriate classes that we use to style each element. These classes control the
                    overall
                    appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                    custom CSS or overriding our default variables. It's also worth noting that just about any HTML can
                    go
                    within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
            </div>
        </div>
    </div>
</section>