<section class="default-margin">
  <h2 class="fw-bold fs-1 title">Новости и блог</h2>

  <div class="d-grid gap-6 news mt-md-7 pt-lg-7 pt-0 mt-4">
    <article
      class="item-news pb-lg-6 p-4 p-lg-0 rounded-4 d-flex flex-column gap-4"
    >
      <a href="#" class="item-news__image position-relative overflow-hidden">
        <img
          fetchpriority="low"
          loading="lazy"
          decoding="async"
          src="./img/gray-rect.png"
          class="w-100 h-100"
          width="858"
          height="296"
          alt="news"
        />
      </a>
      <div class="item-news__info d-flex info-news mt-lg-5 mt-0 gap-3">
        <div class="info-news__block d-flex align-items-center gap-2">
          <svg class="svg-calendar">
            <use href="./img/svg/sprite.svg#calendar"></use>
          </svg>
          <time class="info-news__date mb-0" datetime="17.07.2024"
            >17.07.2024</time
          >
        </div>
        <div class="info-news__block d-flex align-items-center gap-2">
          <svg class="svg-eye">
            <use href="./img/svg/sprite.svg#eye"></use>
          </svg>
          <p class="info-news__date mb-0"><span>56</span> тыс.</p>
        </div>
        <div class="info-news__block d-flex align-items-center gap-2">
          <svg class="svg-clock">
            <use href="./img/svg/sprite.svg#clock"></use>
          </svg>
          <p class="info-news__date mb-0"><span>5</span> минут</p>
        </div>
      </div>
      <p class="item-news__title fw-bold mt-lg-6 mt-0 mb-lg-4 mb-0 fs-3">
        <a href="#">IP телефония для удаленной работы бизнеса</a>
      </p>
      <p
        class="item-news__description fs-4 flex-fill mt-lg-4 mt-0 mb-lg-4 mb-0"
      >
        Летние стратегии для улучшения коммуникаций
      </p>
      <div class="item-news__marks d-flex gap-3 marks-news mt-lg-4 mt-0">
        <p
          class="marks-news__item text-primary text-decoration-none rounded-3 py-md-2 px-md-4 py-1 px-2 mb-0"
        >
          <a href="#">SIP</a>
        </p>
        <p
          class="marks-news__item text-primary text-decoration-none rounded-3 py-md-2 px-md-4 py-1 px-2 mb-0"
        >
          <a href="#">IP-Телефония</a>
        </p>
      </div>
    </article>
    <article
      class="item-news pb-lg-6 p-4 p-lg-0 rounded-4 d-flex flex-column gap-4"
    >
      <a href="#" class="item-news__image position-relative overflow-hidden">
        <img
          fetchpriority="low"
          loading="lazy"
          decoding="async"
          src="./img/gray-rect.png"
          class="w-100 h-100"
          width="858"
          height="296"
          alt="news"
        />
      </a>
      <div class="item-news__info d-flex info-news mt-lg-5 mt-0 gap-3">
        <div class="info-news__block d-flex align-items-center gap-2">
          <svg class="svg-calendar">
            <use href="./img/svg/sprite.svg#calendar"></use>
          </svg>
          <time class="info-news__date mb-0" datetime="17.07.2024"
            >17.07.2024</time
          >
        </div>
        <div class="info-news__block d-flex align-items-center gap-2">
          <svg class="svg-eye">
            <use href="./img/svg/sprite.svg#eye"></use>
          </svg>
          <p class="info-news__date mb-0"><span>56</span> тыс.</p>
        </div>
        <div class="info-news__block d-flex align-items-center gap-2">
          <svg class="svg-clock">
            <use href="./img/svg/sprite.svg#clock"></use>
          </svg>
          <p class="info-news__date mb-0"><span>5</span> минут</p>
        </div>
      </div>
      <p class="item-news__title fw-bold mt-lg-6 mt-0 mb-lg-4 mb-0 fs-3">
        <a href="#">IP телефония для удаленной работы бизнеса</a>
      </p>
      <p
        class="item-news__description fs-4 flex-fill mt-lg-4 mt-0 mb-lg-4 mb-0"
      >
        Летние стратегии для улучшения коммуникаций
      </p>
      <div class="item-news__marks d-flex gap-3 marks-news mt-lg-4 mt-0">
        <p
          class="marks-news__item text-primary text-decoration-none rounded-3 py-md-2 px-md-4 py-1 px-2 mb-0"
        >
          <a href="#">SIP</a>
        </p>
        <p
          class="marks-news__item text-primary text-decoration-none rounded-3 py-md-2 px-md-4 py-1 px-2 mb-0"
        >
          <a href="#">IP-Телефония</a>
        </p>
      </div>
    </article>
  </div>

  <p
    class="news__readmore text-primary text-right p-md-0 py-4 px-5 mt-md-6 pt-md-2 mt-4 mb-7"
  >
    <a href="#" class="d-flex align-items-center justify-content-end"
      ><span class="d-md-block me-md-2">Читать другие статьи</span>
      <svg class="svg-arrow svg-arrow d-md-flex align-center d-none">
        <use href="./img/svg/sprite.svg#arrow"></use>
      </svg>
    </a>
  </p>
</section>
