<section class="sales default-margin">
    <h2 class="fs-1 fw-bold title">Акции и скидки</h2>

    <div class="d-grid gap-4 sale mt-md-7 pt-lg-7 pt-0 mt-4">
        <div class="d-flex flex-column p-md-7 rounded-4 overflow-hidden p-4 sale__pink position-relative">
            <p class="sale__title flex-fill fw-bold fs-2 c-white">VPN/LAN БЕСПЛАТНО на 30 дней</p>
            <p><a href="#"
                    class="sale__link c-white position-relative py-md-4 px-md-5 py-3 px-4 rounded-4">Подробнее</a>
            </p>
            <div class="sale__image position-absolute d-inline-block text-decoration-none">
                <img alt="sale" height="100%" width="100%" class="h-100" fetchpriority="low" loading="lazy"
                    decoding="async" src="./img/sales1.png">
            </div>
        </div>
        <div class="d-flex flex-column p-md-7 rounded-4 overflow-hidden p-4 sale__blue position-relative">
            <p class="sale__title flex-fill fw-bold fs-2 c-white">Безопасность и надёжность с Telezon</p>
            <p><a href="#"
                    class="sale__link c-white position-relative py-md-4 px-md-5 py-3 px-4 rounded-4">Подробнее</a>
            </p>
            <div class="sale__image position-absolute d-inline-block text-decoration-none">
                <img alt="sale" height="100%" width="100%" class="h-100" fetchpriority="low" loading="lazy"
                    decoding="async" src="./img/sales2.png">
            </div>
        </div>
        <div class="d-flex flex-column p-md-7 rounded-4 overflow-hidden p-4 sale__pink position-relative">
            <p class="sale__title flex-fill fw-bold fs-2 c-white">Мощь облака в твоих руках</p>
            <p><a href="#"
                    class="sale__link c-white position-relative py-md-4 px-md-5 py-3 px-4 rounded-4">Подробнее</a>
            </p>
            <div class="sale__image position-absolute d-inline-block text-decoration-none">
                <img alt="sale" height="100%" width="100%" class="h-100" fetchpriority="low" loading="lazy"
                    decoding="async" src="./img/sales3.png">
            </div>
        </div>
    </div>
</section>