<section class="services mb-5 d-none d-md-block default-margin">
  <h1 class="fs-1 fw-bold title">Услуги Telezon</h1>
  <div class="d-grid gap-5 main-services">
    <div class="mb-3 services__item item-services p-0">
      <a href="#" class="item-services__wrapper p-5 h-100 d-block">
        <p
          class="item-services__title fs-4 fw-bold d-flex flex-column mb-3 pe-2"
        >
          Бизнес интернет
        </p>
        <img
          alt="icon"
          width="200"
          height="200"
          class="w-85"
          fetchpriority="low"
          loading="lazy"
          decoding="async"
          src="./img/wifi.png"
        />
      </a>
    </div>
    <div class="mb-3 services__item item-services p-0">
      <a href="#" class="item-services__wrapper p-5 h-100 d-block">
        <p
          class="item-services__title fs-4 fw-bold d-flex flex-column mb-3 pe-2"
        >
          Бизнес интернет
        </p>
        <img
          alt="icon"
          width="200"
          height="200"
          class="w-85"
          fetchpriority="low"
          loading="lazy"
          decoding="async"
          src="./img/ula.png"
        />
      </a>
    </div>
    <div class="mb-3 services__item item-services p-0">
      <a href="#" class="item-services__wrapper p-5 h-100 d-block">
        <p
          class="item-services__title fs-4 fw-bold d-flex flex-column mb-3 pe-2"
        >
          Бизнес интернет
        </p>
        <img
          alt="icon"
          width="200"
          width="200"
          class="w-85"
          fetchpriority="low"
          loading="lazy"
          decoding="async"
          src="./img/internet.png"
        />
      </a>
    </div>
    <div class="mb-3 services__item item-services p-0">
      <a href="#" class="item-services__wrapper p-5 h-100 d-block">
        <p
          class="item-services__title fs-4 fw-bold d-flex flex-column mb-3 pe-2"
        >
          Бизнес интернет
        </p>
        <img
          alt="icon"
          height="200"
          height="200"
          class="w-85"
          fetchpriority="low"
          loading="lazy"
          decoding="async"
          src="./img/defence.png"
        />
      </a>
    </div>
    <div class="mb-3 services__item item-services p-0">
      <a href="#" class="item-services__wrapper p-5 h-100 d-block">
        <p
          class="item-services__title fs-4 fw-bold d-flex flex-column mb-3 pe-2"
        >
          Бизнес интернет
        </p>
        <img
          alt="icon"
          class="w-85"
          width="200"
          height="200"
          fetchpriority="low"
          loading="lazy"
          decoding="async"
          src="./img/lego.png"
        />
      </a>
    </div>
    <div class="mb-3 services__item item-services p-0">
      <a
        href="#"
        class="item-services__wrapper p-5 h-100 d-block h-100 d-flex flex-column"
      >
        <p class="d-flex flex-column item-services__title fs-4 fw-bold mb-3">
          Бизнес интернет
        </p>
        <svg>
          <use href="./img/svg/sprite.svg#arrow"></use>
        </svg>
        <p class="item-services__description mt-5">
          Посмотреть весь список услуг Telezon
        </p>
      </a>
    </div>
  </div>
</section>
<section class="services-mobile my-7 d-xs-block d-md-none my-5">
  <label
    for="mainSearch"
    class="search-input__wrapper w-100 p-4 rounded-4 d-flex align-items-center"
  >
    <svg class="me-2">
      <use xlink:href="./img/svg/sprite.svg#search_icon"></use>
    </svg>
    <input
      type="text"
      id="mainSearch"
      class="search-input"
      placeholder="Поиск по сайту"
    />
  </label>
</section>
<section class="services-mobile mb-6 d-xs-block d-md-none my-5">
  <h1 class="title fs-1 fw-bold">Услуги</h1>
  <div class="accordion simple mt-4" id="accordionSimple">
    <div class="accordion-item mb-4">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          IT-инфраструктура и сети
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionSimple"
      >
        <div class="accordion-body px-0 pb-0 pt-4">
          <ul class="d-flex flex-column gap-4 mb-0">
            <li>
              <a href="#" class="dropdown-item py-3 px-4 item-accordion"
                >Высокоскоростной доступ в интернет</a
              >
            </li>
            <li>
              <a href="#" class="dropdown-item py-3 px-4 item-accordion"
                >Корпоративные коммуникации</a
              >
            </li>
            <li>
              <a href="#" class="dropdown-item py-3 px-4 item-accordion"
                >Облачное хранение</a
              >
            </li>
            <li>
              <a href="#" class="dropdown-item py-3 px-4 item-accordion"
                >Мониторинг данных</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item mb-4">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Системы безопасности
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#accordionSimple"
      >
        <div class="accordion-body px-0 pb-0 pt-4">
          <ul class="d-flex flex-column gap-4 mb-0">
            <li>
              <a href="#" class="dropdown-item py-3 px-4 item-accordion"
                >Высокоскоростной доступ в интернет</a
              >
            </li>
            <li>
              <a href="#" class="dropdown-item py-3 px-4 item-accordion"
                >Корпоративные коммуникации</a
              >
            </li>
            <li>
              <a href="#" class="dropdown-item py-3 px-4 item-accordion"
                >Облачное хранение</a
              >
            </li>
            <li>
              <a href="#" class="dropdown-item py-3 px-4 item-accordion"
                >Мониторинг данных</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item mb-4">
      <h2 class="accordion-header" id="headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Интерграционные услуги
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="headingThree"
        data-bs-parent="#accordionSimple"
      >
        <div class="accordion-body px-0 pb-0 pt-4">
          <ul class="d-flex flex-column gap-4 mb-0">
            <li>
              <a href="#" class="dropdown-item py-3 px-4 item-accordion"
                >Высокоскоростной доступ в интернет</a
              >
            </li>
            <li>
              <a href="#" class="dropdown-item py-3 px-4 item-accordion"
                >Корпоративные коммуникации</a
              >
            </li>
            <li>
              <a href="#" class="dropdown-item py-3 px-4 item-accordion"
                >Облачное хранение</a
              >
            </li>
            <li>
              <a href="#" class="dropdown-item py-3 px-4 item-accordion"
                >Мониторинг данных</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
