.calculator p {
  margin-bottom: 0;
  font-family: var(--bs-open-sans);
}
@media (max-width: 992px) {
  .calculator p {
    font-size: 1rem;
  }
}

.services-internet {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .services-internet {
    border-bottom: 1px solid var(--gray-background);
  }
}
@media (max-width: 1200px) and (min-width: 992px) {
  .services-internet {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 1rem !important;
  }
}
@media (max-width: 768px) {
  .services-internet {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.services-internet__item {
  background: var(--bs-gray);
  min-height: 125px;
}
@media (max-width: 992px) {
  .services-internet__item {
    min-height: 0;
  }
}
.services-internet__item.extra {
  background: var(--transparent-pink-light);
  border: 2px solid var(--bs-pink);
  color: var(--bright-pink-color);
}
@media (max-width: 768px) {
  .services-internet__item.extra {
    background: var(--bs-gray);
    border: none;
    color: var(--bs-dark);
    min-height: 0;
  }
  .services-internet__item.extra > div {
    margin-top: 0;
  }
}

.calc-internet__cards {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (max-width: 1700px) {
  .calc-internet__cards.add-scroll {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 992px) {
  .calc-internet__cards.add-scroll {
    scroll-padding: 0;
  }
  .calc-internet__cards.add-scroll > * {
    min-width: 48% !important;
    padding: 1rem !important;
  }
  .calc-internet__cards.add-scroll > *:not(:last-child) {
    margin-right: 1%;
  }
  .calc-internet__cards.add-scroll > div {
    max-height: none;
  }
}

.internet-card {
  background: url("../img/usluga/background.jpg");
  background-size: 68% 100%;
  background-attachment: fixed;
  background-clip: padding-box;
  font-variant-numeric: lining-nums;
}
@media (max-width: 992px) {
  .internet-card {
    background-size: 100% 100%;
  }
}
@media (max-width: 600px) {
  .internet-card p {
    font-size: 0.75rem;
  }
}
.internet-card__desc {
  font-size: 1.3125rem;
}
@media (min-width: 1700px) {
  .internet-card__desc {
    word-break: break-all;
  }
}
.internet-card__desc:not(:first-child) {
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .internet-card__desc {
    font-size: 0.75rem;
  }
  .internet-card__desc:not(:first-child) {
    margin-top: 0.5rem;
  }
}
.internet-card__price {
  font-family: Raleway;
  line-height: 1.4;
}
@media (max-width: 768px) {
  .internet-card__price {
    font-size: 1.3125rem !important;
  }
}
.internet-card__post-price {
  font-size: 1.3125rem;
}
@media (max-width: 768px) {
  .internet-card__post-price {
    font-size: 0.75rem;
  }
}

.item-internet__wrapper {
  margin-top: 1.25rem;
}
.item-internet__price {
  font-weight: 600;
  color: var(--dark-gray);
  white-space: nowrap;
  background: var(--bs-white);
}
.item-internet__text {
  font-weight: 600;
}
@media (max-width: 992px) {
  .item-internet__text.c-pink {
    color: var(--dark-gray);
  }
}
.item-internet__text.normal {
  font-weight: 400;
}

.item-internet__select select {
  border: none;
  outline: none;
  color: var(--dark-gray);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: var(--bs-white);
}

.notifies-calc {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 768px) {
  .notifies-calc {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.results {
  background: var(--bs-white);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-shadow: 0px 4px 20px var(--bs-gray);
  box-shadow: 0px 4px 20px var(--bs-gray);
}
.results-wrapper {
  border-bottom: 1px solid var(--gray-background);
}
.results__btn {
  font-weight: 600;
}

.results-checkbox {
  background: var(--transparent-pink-light);
}
@media (max-width: 768px) {
  .results-checkbox {
    background: var(--bs-gray);
  }
}

.results-checkbox__text {
  font-weight: 600;
}
@media (max-width: 768px) {
  .results-checkbox__text {
    color: var(--bs-primary) !important;
  }
}

.results__item {
  font-weight: 600;
  color: var(--dark-gray);
}
.results__item:not(:first-child) {
  margin-top: 1.3rem;
}

.hidden-title {
  font-size: 1.3125rem !important;
}

.item-results__desc {
  font-weight: 600;
  color: var(--dark-gray);
}
.item-results__price {
  white-space: nowrap;
  padding-left: 0.5rem;
}

.results__monthly,
.results__once {
  font-weight: 600;
}

.c-pink {
  color: var(--bright-pink-color);
}

.results-block {
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: var(--bs-white);
  min-width: 328px;
  border-radius: 10px 10px 0px 0px;
  -webkit-box-shadow: 0px -4px 40px var(--bs-gray);
  box-shadow: 0px -4px 40px var(--bs-gray);
  z-index: 10000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
  visibility: visible;
}
@media (max-width: 350px) {
  .results-block {
    min-width: 90%;
  }
}

.notify {
  padding: 10px;
  color: var(--bs-primary);
  background: var(--bs-gray);
  border: 1px solid var(--bs-primary);
}

.success {
  background: var(--light-green);
  border: 1px solid var(--dark-green);
  border-radius: 0.5rem;
}
.success p {
  color: var(--green);
  font-weight: 600;
}
.success svg {
  width: 27px;
  height: 27px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 27px;
  flex: 0 0 27px;
}
.success use {
  fill: var(--green);
}

.warning {
  background: var(--light-yellow);
  border: 1px solid var(--dark-yellow);
  border-radius: 0.5rem;
}
.warning p {
  color: var(--yellow);
  font-weight: 600;
}
.warning svg {
  width: 27px;
  height: 27px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 27px;
  flex: 0 0 27px;
}
.warning use {
  fill: var(--yellow);
}

.error {
  background: var(--light-red);
  border: 1px solid var(--dark-red);
  border-radius: 6px;
}
.error p {
  color: var(--red);
  font-weight: 600;
}
.error svg {
  width: 27px;
  height: 27px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 27px;
  flex: 0 0 27px;
}
.error use {
  fill: var(--red);
}

.notification-info {
  background: var(--light-info);
  border: 1px solid var(--dark-info);
  border-radius: 6px;
}
.notification-info p {
  color: var(--bs-primary);
  font-weight: 600;
}
.notification-info svg {
  width: 27px;
  height: 27px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 27px;
  flex: 0 0 27px;
}
.notification-info use {
  fill: var(--bs-primary);
}/*# sourceMappingURL=calculator.css.map */
