<section class="services-mobile default-margin">
    <h1 class="title fs-1 fw-bold">Частые вопросы и ответы</h1>
    <div class="accordion mt-lg-7 pt-lg-7 mt-md-6 pt-0 mt-4 d-grid services-accordion gap-lg-5 gap-4" id="accordion">
        <div class="accordion-service-wrapper d-flex flex-column gap-lg-5 gap-4">
            <div class="accordion-service-item">
                <h2 class="accordion-service-header" id="headingOne">
                    <button class="accordion-service-button py-2 ps-5 pe-3 d-flex justify-content-between" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        Какие приемущества предлагает «БИЗНЕС ИНТЕРНЕТ» от «TELEZON» в Красноярске? <span></span>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-service-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordion">
                    <div class="accordion-service-body px-5 py-3">
                        <p>«Бизнес Интернет» от «Telezon» в Красноярске предлагает множество преимуществ, таких как
                            подключение
                            с «0» под «ключ»,
                            специализированные тарифы для юридических лиц и оперативное включение в течение 5 дней.
                            Также
                            клиенты могут рассчитывать
                            на круглосуточную техническую поддержку, защиту от DDoS-атак, скорость передачи данных
                            до 10 Гбит/с
                            и поддержку адресов
                            протокола IPv6. Стоимость подключения начинается от 2300 ₽ за 100 Мбит/с.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-service-item">
                <h2 class="accordion-service-header" id="headingTwo">
                    <button class="accordion-service-button py-2 ps-5 pe-3 collapsed d-flex justify-content-between"
                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo">
                        Как можно проверить возможность подключения интернета по вашему адресу? <span></span>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-service-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordion">
                    <div class="accordion-service-body px-5 py-3">
                        <p>«Бизнес Интернет» от «Telezon» в Красноярске предлагает множество преимуществ, таких как
                            подключение
                            с «0» под «ключ»,
                            специализированные тарифы для юридических лиц и оперативное включение в течение 5 дней.
                            Также
                            клиенты могут рассчитывать
                            на круглосуточную техническую поддержку, защиту от DDoS-атак, скорость передачи данных
                            до 10 Гбит/с
                            и поддержку адресов
                            протокола IPv6. Стоимость подключения начинается от 2300 ₽ за 100 Мбит/с.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-service-item">
                <h2 class="accordion-service-header" id="headingThree">
                    <button class="accordion-service-button py-2 ps-5 pe-3 collapsed d-flex justify-content-between"
                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                        aria-controls="collapseThree">
                        Какие шаги нужно предпринять для подключения «БИЗНЕС ИНТЕРНЕТ» ? <span></span>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-service-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordion">
                    <div class="accordion-service-body px-5 py-3">
                        <p>«Бизнес Интернет» от «Telezon» в Красноярске предлагает множество преимуществ, таких как
                            подключение
                            с «0» под «ключ»,
                            специализированные тарифы для юридических лиц и оперативное включение в течение 5 дней.
                            Также
                            клиенты могут рассчитывать
                            на круглосуточную техническую поддержку, защиту от DDoS-атак, скорость передачи данных
                            до 10 Гбит/с
                            и поддержку адресов
                            протокола IPv6. Стоимость подключения начинается от 2300 ₽ за 100 Мбит/с.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-service-wrapper d-flex flex-column gap-lg-5 gap-4">
            <div class="accordion-service-item">
                <h2 class="accordion-service-header" id="headingFour">
                    <button class="accordion-service-button py-2 ps-5 pe-3 collapsed d-flex justify-content-between"
                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                        aria-controls="collapseFour">
                        Почему стоит выбрать «TELEZON»? <span></span>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-service-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordion">
                    <div class="accordion-service-body px-5 py-3">
                        <p>«Бизнес Интернет» от «Telezon» в Красноярске предлагает множество преимуществ, таких как
                            подключение
                            с «0» под «ключ»,
                            специализированные тарифы для юридических лиц и оперативное включение в течение 5 дней.
                            Также
                            клиенты могут рассчитывать
                            на круглосуточную техническую поддержку, защиту от DDoS-атак, скорость передачи данных
                            до 10 Гбит/с
                            и поддержку адресов
                            протокола IPv6. Стоимость подключения начинается от 2300 ₽ за 100 Мбит/с.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-service-item">
                <h2 class="accordion-service-header" id="headingFive">
                    <button class="accordion-service-button py-2 ps-5 pe-3 collapsed d-flex justify-content-between"
                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                        aria-controls="collapseFive">
                        Какие услуги включены в «БИЗНЕС ИНТЕРНЕТ» от «TELEZON»? <span></span>
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-service-collapse collapse" aria-labelledby="headingFive"
                    data-bs-parent="#accordion">
                    <div class="accordion-service-body px-5 py-3">
                        <p>«Бизнес Интернет» от «Telezon» в Красноярске предлагает множество преимуществ, таких как
                            подключение
                            с «0» под «ключ»,
                            специализированные тарифы для юридических лиц и оперативное включение в течение 5 дней.
                            Также
                            клиенты могут рассчитывать
                            на круглосуточную техническую поддержку, защиту от DDoS-атак, скорость передачи данных
                            до 10 Гбит/с
                            и поддержку адресов
                            протокола IPv6. Стоимость подключения начинается от 2300 ₽ за 100 Мбит/с.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-service-item">
                <h2 class="accordion-service-header" id="headingSix">
                    <button class="accordion-service-button py-2 ps-5 pe-3 collapsed d-flex justify-content-between"
                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false"
                        aria-controls="collapseSix">
                        Какие возможности предоставляет интернет-подключение для бизнеса? <span></span>
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-service-collapse collapse" aria-labelledby="headingSix"
                    data-bs-parent="#accordion">
                    <div class="accordion-service-body px-5 py-3">
                        <p>«Бизнес Интернет» от «Telezon» в Красноярске предлагает множество преимуществ, таких как
                            подключение
                            с «0» под «ключ»,
                            специализированные тарифы для юридических лиц и оперативное включение в течение 5 дней.
                            Также
                            клиенты могут рассчитывать
                            на круглосуточную техническую поддержку, защиту от DDoS-атак, скорость передачи данных
                            до 10 Гбит/с
                            и поддержку адресов
                            протокола IPv6. Стоимость подключения начинается от 2300 ₽ за 100 Мбит/с.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>