<section class="default-margin address">
    <h2 class="fw-bold fs-1 title d-none d-md-block">Проверить адрес для подключения</h2>
    <div class="address-wrapper d-grid gap-5 mt-lg-7 pt-lg-7 mt-md-6 pt-0 mt-4">
        <div class="address__block block-address fs-4 rounded-4 p-lg-7 p-md-6 p-4">
            <p class="d-sm-block d-md-none block-address__mobile mb-4 fw-bold">Проверить адрес</p>
            <p class="block-address__title form-title fs-4 mb-lg-6 mb-0">Введите свой адрес, чтобы узнать возможность
                подключения к
                интернету</p>
            <input type="text" class="block-address__input default-input rounded-4 mt-lg-0 mt-3"
                placeholder="Ваш адрес" />

            <div class="line d-block d-md-none my-3"></div>

            <div
                class="block-address__notification mt-md-6 mt-0 notify success d-flex justify-content-between align-items-center">
                <p class="pe-2">По вашему адресу возможно подключение интернета!</p>
                <svg>
                    <use xlink:href="./img/svg/sprite.svg#info"></use>
                </svg>
            </div>
            <div class="block-address__info info-address mt-md-6 mt-0">
                <div
                    class="info-address__item mt-md-4 mt-2 item-info-address d-flex gap-md-0 gap-3 align-items-center justify-content-between">
                    <p>Стоимость подключения:</p>
                    <p>Бесплатно</p>
                </div>
                <div
                    class="info-address__item mt-md-4 mt-2 item-info-address d-flex gap-md-0 gap-3 align-items-center justify-content-between">
                    <p>Текущая скорость подключения:</p>
                    <p>1000 Мбит/с</p>
                </div>
                <div
                    class="info-address__item mt-md-4 mt-2 item-info-address d-flex gap-md-0 gap-3 align-items-center justify-content-between">
                    <p>
                        Возможность подключения <br />
                        на скорости до 10 Гбит/с:
                    </p>
                    <p>Есть! Оставьте заявку!</p>
                </div>
            </div>
        </div>
        <div class="address__block map-address position-relative rounded-4 overflow-hidden">
            <div class="map-disable position-absolute w-100 h-100"></div>

            <script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6bb13b7648abb08828996ad9854fd25857c085c36753dfd53e60b7e4098f07b1&amp;width=100%25&amp;height=494&amp;lang=ru_RU&amp;scroll=true"></script>

            <div class="map-address__wrapper p-4 d-flex gap-3 position-absolute w-100">
                <label for="mainSearch"
                    class="search-input__wrapper d-flex align-items-center white map-address__input position-relative ms-3 p-4 rounded-4">
                    <svg class="d-block me-4">
                        <use xlink:href="./img/svg/sprite.svg#search_icon"></use>
                    </svg>
                    <input type="text" id="mainSearch" class="search-input flex-fill" placeholder="Поиск по сайту">
                </label>
                <button class="map-address__btn position-relative btn shadow-none btn-white none rounded-4">Найти
                    на&nbsp;карте</button>
            </div>
        </div>
    </div>
</section>