<section class="default-margin">
    <h2 class="service-banner__title fs-2 fw-bold mt-lg-6 mt-0 mb-lg-0 mb-6 d-xs-block d-lg-none mobile">Подключить
        «Бизнес Интернет» в Красноярске</h2>
    <div class="service-banner position-relative overflow-hidden rounded-4 px-md-4 py-4 px-5">
        <div class="service-banner__background position-absolute h-100 w-100">
            <picture>
                <source srcset="./img/usluga/background_mobile.jpg" media="(max-width: 768px)">
                <img src="./img/usluga/background_pc.jpg" alt="задний фон" fetchpriority="low" loading="lazy"
                    decoding="async" class="h-100 w-100" width="100%" height="100%">
            </picture>
        </div>

        <p class="service-banner__type text-end d-none d-lg-block"><span
                class="rounded-4 text-uppercase py-2 px-4 c-white">Интернет</span>
        </p>
        <h2 class="service-banner__title fs-2 fw-bold c-white mt-lg-6 mt-0 d-none d-lg-block">Подключить «Бизнес
            Интернет» в Красноярске</h2>
        <h2 class="service-banner__title fs-2 fw-bold c-white mt-lg-6 mt-0 d-xs-block d-lg-none">Бизнес интернет
        </h2>
        <p class="service-banner__description fs-4 mt-lg-6 mt-4 c-white">Быстрый и надежный интернет для комфорта
            сотрудников и
            клиентов вашей
            компании.</p>

        <button class="service-banner__btn fs-3 fw-bold py-md-2 px-md-4 py-0 px-2 fill mt-lg-6 mt-4 btn btn-primary">от
            2300
            ₽</button>

        <div class="item-main__icon rounded-circle position-absolute">
            <svg>
                <use href="./img/svg/sprite.svg#block1_sip"></use>
            </svg>
        </div>
    </div>
</section>