<section class="calculator default-margin">
    <h2 class="fw-bold fs-1 title">Акции и скидки</h2>
    <div class="row calculator-wrapper mt-lg-7 pt-lg-7 pt-0 mt-4">
        <div class="col-lg-8 col-md-12">
            <div
                class="calc-internet__cards position-relative gap-lg-5 gap-0 mb-lg-6 pb-lg-2 pb-0 mb-4 add-scroll xs-x-scroll d-flex d-lg-grid">
                <div class="internet-card d-flex flex-column rounded-4 p-5">
                    <div class="internet-card__wrapper flex-fill d-flex flex-column mb-4">
                        <p class="c-white internet-card__desc mb-0">3-5 сотрудников</p>
                        <p class="c-white internet-card__price fw-bold fs-3 mt-md-4 mt-2 mb-0">4 900 ₽</p>
                        <p class="c-white internet-card__post-price mb-0">1 мбит за&nbsp;49 ₽</p>
                        <p class="c-white internet-card__desc mb-0">до&nbsp;100 мб/сек</p>
                        <p class="c-white internet-card__desc mb-0">
                            <strong>Подходит для:</strong><br> обработки заказов, работы с онлайн-системами и проведения
                            видеоконференций
                        </p>
                    </div>
                    <button
                        class="internet-card__btn btn btn-white shadow-none rounded-3 w-100 py-md-4 py-sm-3 py-2 text-center">Выбрать</button>
                </div>
                <div class="internet-card d-flex flex-column rounded-4 p-5">
                    <div class="internet-card__wrapper flex-fill d-flex flex-column mb-4">
                        <p class="c-white internet-card__desc mb-0">5-20 сотрудников</p>
                        <p class="c-white internet-card__price fw-bold fs-3 mt-md-4 mt-2 mb-0">8 900 ₽</p>
                        <p class="c-white internet-card__post-price mb-0">1 мбит за&nbsp;9 ₽</p>
                        <p class="c-white internet-card__desc mb-0">до 1 гб/сек</p>
                        <p class="c-white internet-card__desc mb-0">
                            <strong>Подходит для:</strong><br> поддержки онлайн-магазинов, обмена данными с центральным
                            офисом и
                            работы с торговыми платформами
                        </p>
                    </div>
                    <button
                        class="internet-card__btn btn btn-white shadow-none rounded-3 w-100 py-md-4 py-sm-3 py-2 text-center">Выбрать</button>
                </div>
                <div class="internet-card d-flex flex-column rounded-4 p-5">
                    <div class="internet-card__wrapper flex-fill d-flex flex-column mb-4">
                        <p class="c-white internet-card__desc mb-0">20-50 сотрудников</p>
                        <p class="c-white internet-card__price fw-bold fs-3 mt-md-4 mt-2 mb-0">12 500 ₽</p>
                        <p class="c-white internet-card__post-price mb-0">1 мбит за&nbsp;5 ₽</p>
                        <p class="c-white internet-card__desc mb-0">до&nbsp;2.5 гб/сек</p>
                        <p class="c-white internet-card__desc mb-0">
                            <strong>Подходит для:</strong><br> работы с &shy;высоконагруженными системами управления
                            запасами,
                            видеонаблюдения и многоканальными продажами
                        </p>
                    </div>
                    <button
                        class="internet-card__btn btn btn-white shadow-none rounded-3 w-100 py-md-4 py-sm-3 py-2 text-center">Выбрать</button>
                </div>

                <div class="internet-card d-flex flex-column rounded-4 p-5">
                    <div class="internet-card__wrapper flex-fill d-flex flex-column mb-4">
                        <p class="c-white internet-card__desc mb-0">от&nbsp;50 сотрудников</p>
                        <p class="c-white internet-card__price fw-bold fs-3 mt-md-4 mt-2 mb-0">29 900 ₽</p>
                        <p class="c-white internet-card__post-price mb-0">1 мбит за&nbsp;3 ₽</p>
                        <p class="c-white internet-card__desc mb-0">до&nbsp;10 гб/сек</p>
                        <p class="c-white internet-card__desc mb-0">
                            <strong>Подходит для:</strong><br> организации крупных торговых платформ, обеспечения
                            безопасности и&nbsp;работы с
                            большими объемами данных, подключенных к&nbsp;облачным сервисам
                        </p>
                    </div>
                    <button
                        class="internet-card__btn btn btn-white shadow-none rounded-3 w-100 py-md-4 py-sm-3 py-2 text-center">Выбрать</button>
                </div>
            </div>
            <p class="hidden-title d-md-none d-block fw-bold mt-6 mb-4">Дополнительные настройки тарифов</p>
            <div class="calc-internet__services services-internet gap-md-5 gap-4 pb-md-4 mb-md-4 d-grid">
                <div
                    class="services-internet__item rounded-4 px-3 py-sm-3 py-2 d-flex flex-md-column justify-content-between align-items-md-start align-items-center extra">
                    <p class="item-internet__text c-pink">Дополнительное соглашение — SLA</p>

                    <div class="item-internet__wrapper d-flex mt-lg-4 mt-0 justify-content-between align-items-center">
                        <p class="item-internet__text normal d-none d-md-block c-pink">
                            Service Level Agreement (SLA) — это соглашение об уровне обслуживания, дополнительный
                            документ к основному
                            договору между поставщиком услуг и B2B-клиентом.
                        </p>
                        <div>
                            <input id="check1" type="checkbox" class="checkbox-slide extra" />
                            <label for="check1" class="rounded-3"></label>
                        </div>
                    </div>
                </div>

                <div
                    class="services-internet__item rounded-4 px-3 py-sm-3 py-2 d-flex flex-column justify-content-between">
                    <p class="item-internet__text">Техническое обслуживание</p>
                    <p class="item-internet__text">на территории Абонента, за 1 час.</p>
                    <p class="item-internet__text">(В стоимость не входит настройка оборудования и материалы)</p>

                    <div class="item-internet__wrapper d-flex mt-4 justify-content-between align-items-center">
                        <p class="item-internet__price d-flex align-items-center rounded-3 py-3 px-4"><span>3
                                000</span>&nbsp;р./мес</p>
                        <div>
                            <input id="check2" type="checkbox" class="checkbox-slide" />
                            <label for="check2" class="rounded-3"></label>
                        </div>
                    </div>
                </div>

                <div
                    class="services-internet__item rounded-4 px-3 py-sm-3 py-2 d-flex flex-column justify-content-between">
                    <p class="item-internet__text">Количество статических IPv4-адресов</p>

                    <div
                        class="item-internet__wrapper d-flex mt-4 justify-content-between align-items-center select gap-4">
                        <p class="item-internet__price d-flex align-items-center rounded-3 py-3 px-4">
                            <span>117</span>&nbsp;р./мес
                        </p>
                        <div class="item-internet__select position-relative flex-fill">
                            <select class="w-100 py-3 px-4 rounded-3" aria-label="Select">
                                <option value="-1" disabled selected hidden>Кол-во</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">Больше трёх</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div
                    class="services-internet__item rounded-4 px-3 py-sm-3 py-2 d-flex flex-column justify-content-between">
                    <p class="item-internet__text">Защита ресурсов сети L3-L4 (для AS)</p>

                    <div class="item-internet__wrapper d-flex mt-4 justify-content-between align-items-center">
                        <p class="item-internet__price d-flex align-items-center rounded-3 py-3 px-4"><span>18
                                000</span>&nbsp;р./мес</p>
                        <div>
                            <input id="check3" type="checkbox" class="checkbox-slide" />
                            <label for="check3" class="rounded-3"></label>
                        </div>
                    </div>
                </div>

                <div
                    class="services-internet__item rounded-4 px-3 py-sm-3 py-2 d-flex flex-column justify-content-between">
                    <p class="item-internet__text">Аренда IP-адресов</p>

                    <div
                        class="item-internet__wrapper d-flex mt-4 justify-content-between align-items-center select gap-4">
                        <p class="item-internet__price d-flex align-items-center rounded-3 py-3 px-4"><span>4
                                500</span>&nbsp;р./мес</p>
                        <div class="item-internet__select position-relative flex-fill">
                            <select class="w-100 py-3 px-4 rounded-3" aria-label="Select">
                                <option value="-1" disabled selected hidden>Кол-во</option>
                                <option value="0">24 (256 IP-адресов)</option>
                                <option value="1">23 (512 IP-адресов)</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div
                    class="services-internet__item rounded-4 px-3 py-sm-3 py-2 d-flex flex-column justify-content-between">
                    <p class="item-internet__text">Поддержка AS (за 1 номер AS)</p>

                    <div class="item-internet__wrapper d-flex mt-4 justify-content-between align-items-center">
                        <p class="item-internet__price d-flex align-items-center rounded-3 py-3 px-4">
                            <span>820</span>&nbsp;р./мес
                        </p>
                        <div>
                            <input id="check4" type="checkbox" class="checkbox-slide" />
                            <label for="check4" class="rounded-3"></label>
                        </div>
                    </div>
                </div>

                <div
                    class="services-internet__item rounded-4 px-3 py-sm-3 py-2 d-flex flex-column justify-content-between">
                    <p class="item-internet__text">Аренда Wi-Fi роутера</p>

                    <div
                        class="item-internet__wrapper d-flex mt-4 justify-content-between align-items-center select gap-4">
                        <p class="item-internet__price d-flex align-items-center rounded-3 py-3 px-4">
                            <span>350</span>&nbsp;р./мес
                        </p>
                        <div class="item-internet__select position-relative flex-fill">
                            <select class="w-100 py-3 px-4 rounded-3" aria-label="Select">
                                <option value="-1" disabled selected hidden>Тип роутера</option>
                                <option value="0">100 Мбит/сек</option>
                                <option value="1">1 Гбит/сек</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div
                    class="services-internet__item rounded-4 px-3 py-sm-3 py-2 d-flex flex-column justify-content-between">
                    <p class="item-internet__text">Защита IP-адреса L3-L4 (для IP)</p>

                    <div class="item-internet__wrapper d-flex mt-4 justify-content-between align-items-center">
                        <p class="item-internet__price d-flex align-items-center rounded-3 py-3 px-4">
                            <span>160</span>&nbsp;р./мес
                        </p>
                        <div>
                            <input id="check5" type="checkbox" class="checkbox-slide" />
                            <label for="check5" class="rounded-3"></label>
                        </div>
                    </div>
                </div>

                <div
                    class="services-internet__item rounded-4 px-3 py-sm-3 py-2 d-flex flex-column justify-content-between">
                    <p class="item-internet__text">ЮИН-Блокировка</p>

                    <div class="item-internet__wrapper d-flex mt-4 justify-content-between align-items-center">
                        <p class="item-internet__price d-flex align-items-center rounded-3 py-3 px-4">
                            <span>150</span>&nbsp;р./мес
                        </p>
                        <div>
                            <input id="check6" type="checkbox" class="checkbox-slide" />
                            <label for="check6" class="rounded-3"></label>
                        </div>
                    </div>
                </div>

                <div
                    class="services-internet__item rounded-4 px-3 py-sm-3 py-2 d-flex flex-column justify-content-between">
                    <p class="item-internet__text">Защита от атак BGP Hijacking (для AS+)</p>

                    <div class="item-internet__wrapper d-flex mt-4 justify-content-between align-items-center">
                        <p class="item-internet__price d-flex align-items-center rounded-3 py-3 px-4"><span>7
                                000</span>&nbsp;р./мес</p>
                        <div>
                            <input id="check7" type="checkbox" class="checkbox-slide" />
                            <label for="check7" class="rounded-3"></label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="calc-internet__notifies notifies-calc gap-md-6 gap-4 d-md-grid d-none">
                <p class="notify rounded-4">
                    Доступ в интернет предоставляется без ограничений и без учета соотношений входящего/исходящего
                    трафика.
                </p>
                <p class="notify rounded-4">*Vlan на сетях Telezon, на сетях других операторов рассчитывается
                    индивидуально.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 results px-lg-5 px-md-3 py-md-4 rounded-4 gap-4 d-flex flex-column">
            <p class="notify rounded-4 d-none d-md-block mb-0">Стоимость услуг указана за один месяц включения в тариф
            </p>
            <div class="results-wrapper pb-3 mx-2 d-none d-md-block">
                <div class="results__item d-flex justify-content-between align-items-center">
                    <p class="item-results__desc">Защита ресурсов сети L3-L4 (для AS)</p>
                    <p class="item-results__price"><span>18 000</span> ₽</p>
                </div>

                <div class="results__item d-flex justify-content-between align-items-center">
                    <p class="item-results__desc">Защита от атак BGP Hijacking (для AS+)</p>
                    <p class="item-results__price"><span>7 000</span> ₽</p>
                </div>

                <div class="results__item d-flex justify-content-between align-items-center">
                    <p class="item-results__desc">Поддержка AS (за 1 номер AS)</p>
                    <p class="item-results__price"><span>820</span> ₽</p>
                </div>

                <div class="results__item d-flex justify-content-between align-items-center">
                    <p class="item-results__desc">ЮИН-Блокировка</p>
                    <p class="item-results__price"><span>150</span> ₽</p>
                </div>

                <div class="results__item d-flex justify-content-between align-items-center">
                    <p class="item-results__desc">Защита IP-адреса L3-L4 (для IP)</p>
                    <p class="item-results__price"><span>160</span> ₽</p>
                </div>
                <div class="results__item d-flex justify-content-between align-items-center">
                    <div class="item-results__desc">
                        <p>Техническое обслуживание</p>
                        <p>на территории Абонента, за 1 час.</p>
                        <p>(В стоимость не входит настройка оборудования и материалы)</p>
                    </div>
                    <p class="item-results__price"><span>3000</span> ₽</p>
                </div>
                <div class="results-checkbox p-3 rounded-4 mt-4 d-flex align-items-center justify-content-between">
                    <p class="results-checkbox__text c-pink">Вы расположены на территории ТД ФОРТ?</p>
                    <div>
                        <input id="check20" type="checkbox" class="checkbox-slide small extra" />
                        <label for="check20" class="rounded-3"></label>
                    </div>
                </div>
            </div>

            <div class="results-wrap d-md-flex d-none flex-column gap-2">
                <div class="results__monthly mx-2 d-flex align-items-center justify-content-between">
                    <p>Единоразово:</p>
                    <p><span>26 000</span> ₽</p>
                </div>
                <div class="results__once mt-2 mx-2 d-flex align-items-center justify-content-between">
                    <p>Ежемесячно:</p>
                    <p><span>50 850</span> ₽</p>
                </div>
            </div>
            <button class="results__btn d-md-inline d-none p-4 c-white mx-2 btn shadow-none btn-primary">Оставить
                заявку</button>
        </div>
    </div>
    <div class="results-block p-4 d-flex flex-column">
        <div class="results-wrap mb-3">
            <div class="results__monthly mx-2 d-flex align-items-center justify-content-between">
                <p>Единоразово:</p>
                <p><span>26 000</span> ₽</p>
            </div>
            <div class="results__once mt-2 mx-2 d-flex align-items-center justify-content-between">
                <p>Ежемесячно:</p>
                <p><span>50 850</span> ₽</p>
            </div>
        </div>
        <button class="results__btn p-4 c-white mx-2 btn shadow-none btn-primary">Оставить заявку</button>
    </div>
</section>