<section class="default-margin">
  <h2 class="fw-bold fs-1 title">Только в Telezon</h2>
  <div class="d-grid service-info gap-md-5 gap-3 mt-lg-7 pt-lg-7 mt-4 pt-0">
    <div
      class="text-center gap-4 d-flex numbers-items__item align-items-center p-lg-4 p-md-4 p-0 rounded-4 align-items-center"
    >
      <div>
        <svg class="numbers-item__icon rounded-3">
          <use xlink:href="./img/svg/sprite.svg#key"></use>
        </svg>
      </div>
      <span class="service-info__description text-start fs-5"
        >Подключение с «0» под «ключ»</span
      >
    </div>

    <div
      class="text-center gap-4 d-flex numbers-items__item align-items-center p-lg-4 p-md-4 p-0 rounded-4 align-items-center"
    >
      <div>
        <svg class="numbers-item__icon rounded-3">
          <use xlink:href="./img/svg/sprite.svg#mail"></use>
        </svg>
      </div>
      <span class="service-info__description text-start fs-5"
        >Специализированные тарифы для юридических лиц</span
      >
    </div>

    <div
      class="text-center gap-4 d-flex numbers-items__item align-items-center p-lg-4 p-md-4 p-0 rounded-4 align-items-center"
    >
      <div>
        <svg class="numbers-item__icon rounded-3">
          <use xlink:href="./img/svg/sprite.svg#usluga_calendar"></use>
        </svg>
      </div>
      <span class="service-info__description text-start fs-5"
        >Оперативное включение в течение 5 дней</span
      >
    </div>

    <div
      class="text-center gap-4 d-flex numbers-items__item align-items-center p-lg-4 p-md-4 p-0 rounded-4 align-items-center"
    >
      <div>
        <svg class="numbers-item__icon rounded-3">
          <use xlink:href="./img/svg/sprite.svg#headphones"></use>
        </svg>
      </div>
      <span class="service-info__description text-start fs-5"
        >«Реальная» круглосуточная техническая поддержка</span
      >
    </div>

    <div
      class="text-center gap-4 d-flex numbers-items__item align-items-center p-lg-4 p-md-4 p-0 rounded-4 align-items-center"
    >
      <div>
        <svg class="numbers-item__icon rounded-3">
          <use xlink:href="./img/svg/sprite.svg#ddos"></use>
        </svg>
      </div>
      <span class="service-info__description text-start fs-5"
        >Защита от DDoS-атак</span
      >
    </div>

    <div
      class="text-center gap-4 d-flex numbers-items__item align-items-center p-lg-4 p-md-4 p-0 rounded-4 align-items-center"
    >
      <div>
        <svg class="numbers-item__icon rounded-3">
          <use xlink:href="./img/svg/sprite.svg#ruble"></use>
        </svg>
      </div>
      <span class="service-info__description text-start fs-5"
        >Стоимость от 2300 ₽ за 100 Мбит/с (Тарифы)</span
      >
    </div>

    <div
      class="text-center gap-4 d-flex numbers-items__item align-items-center p-lg-4 p-md-4 p-0 rounded-4 align-items-center"
    >
      <div>
        <svg class="numbers-item__icon rounded-3">
          <use xlink:href="./img/svg/sprite.svg#speed"></use>
        </svg>
      </div>
      <span class="service-info__description text-start fs-5"
        >Скорость передачи данных до вашего устройства до 10 Гбит/с</span
      >
    </div>

    <div
      class="text-center gap-4 d-flex numbers-items__item align-items-center p-lg-4 p-md-4 p-0 rounded-4 align-items-center"
    >
      <div>
        <svg class="numbers-item__icon rounded-3">
          <use xlink:href="./img/svg/sprite.svg#ipv6"></use>
        </svg>
      </div>
      <span class="service-info__description text-start fs-5"
        >Поддержка адресов протокола IPv6</span
      >
    </div>
  </div>
</section>
