<section class="default-margin">
    <h2 class="fw-bold fs-1 title">Только в Telezon</h2>
    <div class="d-grid service-info gap-md-5 gap-3 mt-lg-7 pt-lg-7 mt-4 pt-0">
        <div
            class="text-center d-flex flex-lg-column numbers-items__item p-lg-6 p-md-4 p-0 rounded-4 justify-content-lg-between justify-content-start align-items-lg-start align-items-center">
            <svg class="numbers-item__icon rounded-3">
                <use xlink:href="./img/svg/sprite.svg#key"></use>
            </svg>
            <span class="service-info__description text-start mt-lg-4 mt-0 fs-4">Подключение с «0» под «ключ»</span>
        </div>

        <div
            class="text-center d-flex flex-lg-column numbers-items__item p-lg-6 p-md-4 p-0 rounded-4 justify-content-lg-between justify-content-start align-items-lg-start align-items-center">
            <svg class="numbers-item__icon rounded-3">
                <use xlink:href="./img/svg/sprite.svg#mail"></use>
            </svg>
            <span class="service-info__description text-start mt-lg-4 mt-0 fs-4">Специализированные тарифы для
                юридических
                лиц</span>
        </div>

        <div
            class="text-center d-flex flex-lg-column numbers-items__item p-lg-6 p-md-4 p-0 rounded-4 justify-content-lg-between justify-content-start align-items-lg-start align-items-center">
            <svg class="numbers-item__icon rounded-3">
                <use xlink:href="./img/svg/sprite.svg#usluga_calendar"></use>
            </svg>
            <span class="service-info__description text-start mt-lg-4 mt-0 fs-4">Оперативное включение в течение
                5 дней</span>
        </div>

        <div
            class="text-center d-flex flex-lg-column numbers-items__item p-lg-6 p-md-4 p-0 rounded-4 justify-content-lg-between justify-content-start align-items-lg-start align-items-center">
            <svg class="numbers-item__icon rounded-3">
                <use xlink:href="./img/svg/sprite.svg#headphones"></use>
            </svg>
            <span class="service-info__description text-start mt-lg-4 mt-0 fs-4">«Реальная» круглосуточная техническая
                поддержка</span>
        </div>

        <div
            class="text-center d-flex flex-lg-column numbers-items__item p-lg-6 p-md-4 p-0 rounded-4 justify-content-lg-between justify-content-start align-items-lg-start align-items-center">
            <svg class="numbers-item__icon rounded-3">
                <use xlink:href="./img/svg/sprite.svg#ddos"></use>
            </svg>
            <span class="service-info__description text-start mt-lg-4 mt-0 fs-4">Защита от DDoS-атак</span>
        </div>

        <div
            class="text-center d-flex flex-lg-column numbers-items__item p-lg-6 p-md-4 p-0 rounded-4 justify-content-lg-between justify-content-start align-items-lg-start align-items-center">
            <svg class="numbers-item__icon rounded-3">
                <use xlink:href="./img/svg/sprite.svg#ruble"></use>
            </svg>
            <span class="service-info__description text-start mt-lg-4 mt-0 fs-4">Стоимость от 2300 ₽ за 100 Мбит/с
                (Тарифы)</span>
        </div>

        <div
            class="text-center d-flex flex-lg-column numbers-items__item p-lg-6 p-md-4 p-0 rounded-4 justify-content-lg-between justify-content-start align-items-lg-start align-items-center">
            <svg class="numbers-item__icon rounded-3">
                <use xlink:href="./img/svg/sprite.svg#speed"></use>
            </svg>
            <span class="service-info__description text-start mt-lg-4 mt-0 fs-4">Скорость передачи данных до вашего
                устройства
                до 10 Гбит/с</span>
        </div>

        <div
            class="text-center d-flex flex-lg-column numbers-items__item p-lg-6 p-md-4 p-0 rounded-4 justify-content-lg-between justify-content-start align-items-lg-start align-items-center">
            <svg class="numbers-item__icon rounded-3 fill-none">
                <use xlink:href="./img/svg/sprite.svg#ipv6"></use>
            </svg>
            <span class="service-info__description text-start mt-lg-4 mt-0 fs-4">Поддержка адресов протокола IPv6</span>
        </div>
    </div>
</section>