<section class="reviews default-margin">
    <h2 class="title fw-bold fs-1">Отзывы клиентов о Telezon</h2>

    <div class="reviews-wrapper d-flex align-items-start justify-content-between gap-4 pt-xl-7 mt-xl-7 mt-md-6 mt-4">
        <div class="reviews__block block-reviews d-grid gap-md-5 gap-4">
            <div class="block-reviews__review p-4 rounded-4 review-block gap-2 d-flex flex-column">
                <p class="review-block__date">29.06.2024</p>
                <div class="review-block__user d-flex align-items-center">
                    <div class="review-block__icon">
                        <img alt="review" fetchpriority="low" loading="lazy" decoding="async"
                            src="./img/usluga/gray-user.jpg" width="100%" height="100%">
                    </div>
                    <p class="review-block__name ms-4">stand-art24</p>
                </div>
                <p class="review-block__paragraph">
                    Проводили подключение на Маерчака, 65. Работу выполнили быстро и чисто, благодарность монтажникам!
                </p>
            </div>
            <div class="block-reviews__review p-4 rounded-4 review-block d-flex flex-column gap-2">
                <p class="review-block__date">29.06.2024</p>
                <div class="review-block__user d-flex align-items-center">
                    <div class="review-block__icon">
                        <img alt="review" fetchpriority="low" loading="lazy" decoding="async"
                            src="./img/usluga/gray-user.jpg" width="100%" height="100%">
                    </div>

                    <p class="review-block__name ms-4">stand-art24</p>
                </div>
                <p class="review-block__paragraph">
                    Проводили подключение на Маерчака, 65. Работу выполнили быстро и чисто, благодарность монтажникам!
                </p>
            </div>
        </div>
        <div class="reviews__block block-reviews d-grid gap-md-5 gap-4">
            <div class="block-reviews__review p-4 rounded-4 review-block d-flex flex-column gap-2">
                <p class="review-block__date">29.06.2024</p>
                <div class="review-block__user d-flex align-items-center">
                    <div class="review-block__icon">
                        <img alt="review" fetchpriority="low" loading="lazy" decoding="async"
                            src="./img/usluga/gray-user.jpg" width="100%" height="100%">
                    </div>

                    <p class="review-block__name ms-4">stand-art24</p>
                </div>
                <p class="review-block__paragraph">
                    Проводили подключение на Маерчака, 65. Работу выполнили быстро и чисто, благодарность монтажникам!
                </p>
            </div>
            <div class="block-reviews__review p-4 rounded-4 review-block d-flex flex-column gap-2">
                <p class="review-block__date">29.06.2024</p>
                <div class="review-block__user d-flex align-items-center">
                    <div class="review-block__icon">
                        <img alt="review" fetchpriority="low" loading="lazy" decoding="async"
                            src="./img/usluga/gray-user.jpg" width="100%" height="100%">
                    </div>

                    <p class="review-block__name ms-4">stand-art24</p>
                </div>
                <p class="review-block__paragraph">
                    Добрый день! С компанией Телезон работаем с самого открытия офиса. Интернет всегда стабильный. Цены
                    оптимальные. Если
                    случается отключение, то ребята его быстро исправляют. Так же всегда проконсультируют по возникшим
                    вопросам. С
                    уважением, ООО РА «Инсайт».
                </p>
            </div>
        </div>
        <div class="reviews__block block-reviews gap-md-5 gap-4 d-grid">
            <div class="block-reviews__review p-4 rounded-4 review-block d-flex flex-column gap-2">
                <p class="review-block__date">29.06.2024</p>
                <div class="review-block__user d-flex align-items-center">
                    <div class="review-block__icon">
                        <img alt="review" fetchpriority="low" loading="lazy" decoding="async"
                            src="./img/usluga/gray-user.jpg" width="100%" height="100%">
                    </div>

                    <p class="review-block__name ms-4">stand-art24</p>
                </div>
                <p class="review-block__paragraph">
                    Проводили подключение на Маерчака, 65. Работу выполнили быстро и чисто, благодарность монтажникам!
                </p>
            </div>
            <div class="block-reviews__review p-4 rounded-4 review-block d-flex flex-column gap-2">
                <p class="review-block__date">29.06.2024</p>
                <div class="review-block__user d-flex align-items-center">
                    <div class="review-block__icon">
                        <img alt="review" fetchpriority="low" loading="lazy" decoding="async"
                            src="./img/usluga/gray-user.jpg" width="100%" height="100%">
                    </div>

                    <p class="review-block__name ms-4">stand-art24</p>
                </div>
                <p class="review-block__paragraph">
                    Проводили подключение на Маерчака, 65. Работу выполнили быстро и чисто, благодарность монтажникам!
                </p>
            </div>
        </div>
        <div class="reviews__block block-reviews d-grid gap-md-5 gap-4">
            <div class="block-reviews__review p-4 rounded-4 review-block d-flex flex-column gap-2">
                <p class="review-block__date">29.06.2024</p>
                <div class="review-block__user d-flex align-items-center">
                    <div class="review-block__icon">
                        <img alt="review" fetchpriority="low" loading="lazy" decoding="async"
                            src="./img/usluga/gray-user.jpg" width="100%" height="100%">
                    </div>

                    <p class="review-block__name ms-4">stand-art24</p>
                </div>
                <p class="review-block__paragraph">
                    Наша управляющая компания подключила интернет в компании Телезон, понравилась девушка менеджер Елена
                    Глазкова, которая
                    оперативно подобрала оптимальный тариф, отправила заявку в тех. поддержку и на следующий день нам
                    подключили интернет.
                    Огромное спасибо специалисту Никите, который подключил нас за 15 минут. Желаем вашей компании
                    процветания!
                </p>
            </div>
            <div class="block-reviews__review p-4 rounded-4 review-block d-flex flex-column gap-2">
                <p class="review-block__date">29.06.2024</p>
                <div class="review-block__user d-flex align-items-center">
                    <div class="review-block__icon">
                        <img alt="review" fetchpriority="low" loading="lazy" decoding="async"
                            src="./img/usluga/gray-user.jpg" width="100%" height="100%">
                    </div>

                    <p class="review-block__name ms-4">stand-art24</p>
                </div>
                <p class="review-block__paragraph">
                    Проводили подключение на Маерчака, 65. Работу выполнили быстро и чисто, благодарность монтажникам!
                </p>
            </div>
        </div>
    </div>
    <p class="news__readmore text-primary text-right p-md-0 py-4 px-5 mt-md-6 pt-md-2 mt-4 mb-7">
        <a href="#" class="d-flex align-items-center justify-content-end"><span class="d-md-block me-md-2">Читать другие
                отзывы</span>
            <svg class="svg-arrow svg-arrow d-md-flex align-center d-none">
                <use href="./img/svg/sprite.svg#arrow"></use>
            </svg>
        </a>
    </p>
</section>