<section class="form default-margin">
  <h2 class="title fw-bold fs-1 d-none d-md-block">
    Оставить запрос на подключение
  </h2>
  <div class="form-wrapper gap-lg-6 gap-0 d-grid mt-md-6 mt-4">
    <img
      alt="image"
      class="form__block w-100 h-100 d-none d-lg-block image rounded-4 overflow-hidden"
      fetchpriority="low"
      loading="lazy"
      decoding="async"
      src="./img/blue-image.jpg"
      width="858"
      height="480"
    />
    <form action="#" class="form__block d-flex flex-column rounded-4">
      <p
        class="d-sm-block d-md-none block-address__mobile fw-bold mb-md-0 mb-4"
      >
        Оставить запрос на подключение
      </p>
      <p class="form-title fs-4 d-none d-sm-none d-md-block">
        Оставьте заявку — мы подберём подходящий тариф и договоримся о
        подключении
      </p>
      <input
        type="text"
        class="form__input rounded-4 mt-md-6 mt-0 default-input"
        placeholder="Как вас зовут?"
        name="name"
      />
      <input
        type="tel"
        id="phone"
        class="form__input rounded-4 tel mt-4 default-input"
        placeholder="+7 - 999 - 999 - 99 - 99"
        autocomplete="tel"
      />
      <label class="form__checkbox d-grid mt-4 gap-md-4 gap-2">
        <span
          class="d-inline position-relative form-input-wrapper d-flex align-items-center"
        >
          <input type="checkbox" />
          <svg width="22" height="15" class="checkbox-icon">
            <use xlink:href="./img/svg/sprite.svg#tick"></use>
          </svg>
        </span>
        <span class="form__description d-block">
          Да, я соглашаюсь <br />
          с&nbsp;<a href="#" class="link-strong"
            >условиями обработки персональных данных</a
          >
        </span>
      </label>
      <button
        class="form__btn btn btn-primary mt-md-6 mt-4 py-4 mb-0 shadow-none"
        type="submit"
      >
        Оставить заявку
      </button>
    </form>
  </div>
</section>
