<section class="video default-margin">
    <h2 class="title fw-bold fs-1">Проверка скорости подключения TELEZON</h2>
    <div class="video-wrapper mt-md-7 mt-4">
        <iframe data-src="https://rutube.ru/play/embed/74dfa8ebd8cb00f4e2ed431bdd4fd1cc"
            src="https://rutube.ru/play/embed/74dfa8ebd8cb00f4e2ed431bdd4fd1cc" frameBorder="0"
            allow="clipboard-write; autoplay" class="mt-lg-7 mt-0 rounded-4" webkitAllowFullScreen mozallowfullscreen
            allowFullScreen></iframe>
    </div>
</section>